<th:block th:fragment="footerFragment(data)">
    <footer th:id="${data.footerId}" class="dialog-footer">
        <button class="normal-btn frameless" type="button" name="cancelBtn" 
            th:attr="data-action=${data[cancelAction]}" th:text="${data['cancelText']}"></button>
        <button class="normal-btn ok" type="button" name="submitBtn" tabindex="999" 
            th:attr="data-action=${data[submitAction]}" th:text="${data['submitText']}"></button>
        <button th:if="${data['closeText'] != null}" class="normal-btn" type="button" name="footerCloseBtn" th:text="${data['closeText']}"></button>
    </footer>    
</th:block>
