<th:block th:fragment="form01Fragment()">
    <div class="dialog-content">
        <div class="tab-area">
            <ul class="tab-menu">
                <li class="tab-menu-item is-active" data-action="tab" data-group="order-add-tabs" data-tab="tab-11">基本</li>
                <li class="tab-menu-item" data-action="tab" data-group="order-add-tabs" data-tab="tab-12">商品</li>
                <li class="tab-menu-item" data-action="tab" data-group="order-add-tabs" data-tab="tab-13">作業</li>
                <li class="tab-menu-item" data-action="tab" data-group="order-add-tabs" data-tab="tab-14">添付</li>
            </ul>
            <div class="tab-panel is-show" id="tab-11" data-tab-content="order-add-tabs">
                <!-- 会社名 -->
                <div class="form-row" data-resolve="client" >
                    <th:block th:replace="~{fragments/components/box :: selectBoxFragment(${
                        { 
                            'text': '小売業者',
                            'id':'primeConstractor11',
                            'name': 'prime-constractor-id', 
                            'combo': 'clientComboList',
                            'top': '-----',
                            'key': 'prime-constractor-id',
                            'resolveName':true,
                            'index': 1,
                            'link': 'primeConstractorOffice11'
                        }}
                    )}"></th:block>
                    <div>
                        <th:block th:replace="~{fragments/components/box :: selectBoxFragment(${
                            {
                                'text':'支店名', 
                                'id':'primeConstractorOffice11',
                                'name': 'prime-constractor-office-id',
                                'combo': 'officeComboList',
                                'top': '-----',
                                'key':'prime-constractor-office-id',
                                'resolveName':true,
                                'parent': 'primeConstractor11',
                                'link': 'staff11',
                                'linkDefault': 'empty'
                            }}
                        )}"></th:block>
                        <th:block th:replace="~{fragments/components/box :: selectBoxFragment(${
                            {
                                'text':'営業担当者', 
                                'id':'staff11',
                                'name': 'staff-id',
                                'combo': 'staffComboList',
                                'top': '-----',
                                'key':'staff-id',
                                'resolveName':true,
                                'parent': 'primeConstractorOffice11',
                                'linkDefault': 'empty'
                            }}
                        )}"></th:block>
                    </div>
                </div>
                <!-- 受注番号 -->
                <div class="form-row" data-resolve="order">
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        {
                            'text':'受注番号',
                            'id':'request-number11',
                            'name':'request-number',
                            'index': 2,
                            'format': 'code'
                        }}
                    )}"></th:block>
                </div>
                <!-- 日付 -->
                <div class="form-row">
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        { 
                            'text':'訪問日',
                            'id':'visitDate11',
                            'name':'visit-date',
                            'type':'date',
                            'action':'date-arrow',
                            'required': '訪問日を入力してください',
                            'index': 3
                        }
                    })}"></th:block>
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        { 
                            'text':'訪問時間',
                            'id':'visitTime11',
                            'name':'visit-time',
                            'index': 4
                        }
                    })}"></th:block>
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        { 
                            'text': '連絡先',
                            'name': 'contact-information', 
                            'type': 'phone',
                            'validate': 'phone',
                            'index': 5
                        }
                    })}"></th:block>
                </div>
                <!-- 件名 -->
                <div class="form-row">
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        {
                            'text':'件名',
                            'id':'title11',
                            'name':'title',
                            'required': '件名を入力してください',
                            'index': 6
                        }}
                    )}"></th:block>
                </div>
                <!-- 住所 -->
                <div class="form-row" data-resolve="postal">
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        { 
                            'text': '郵便番号', 
                            'name': 'postal-code', 
                            'resolveId': true, 
                            'type': 'postal', 
                            'index': 7,
                            'format': 'num'
                        }
                    })}"></th:block>
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        { 
                            'text': '住所', 
                            'name': 'full-address', 
                            'placeholder': '例）大阪府高槻市柱本5丁目7番10号', 
                            'resolveName': true, 
                            'index': 8
                        }
                    })}"></th:block>
                </div>
                <!-- 備考 -->
                <div class="form-row">
                    <th:block th:replace="~{fragments/components/box :: textareaFragment(${
                        {
                            'text':'備考',
                            'id':'remarks11',
                            'name':'remarks',
                            'index': 9
                        }}
                    )}"></th:block>
                </div>
            </div>
            <div class="tab-panel" id="tab-12" data-tab-content="order-add-tabs">
                <!-- JANコード -->
                <!-- 商品名 -->
                <div class="form-row" data-resolve="item">
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        {
                            'text':'JANコード',
                            'id':'janCode11',
                            'name':'jan-code',
                            'resolveId': true,
                            'index': 1,
                            'format': 'num'
                        }}
                    )}"></th:block>
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        {
                            'text':'商品名',
                            'id':'itemName11',
                            'name':'item-name',
                            'resolveName':true,
                            'index': 2
                        }}
                    )}"></th:block>
                </div>
                <!-- メーカー -->
                <!-- 型番 -->
                <!-- 数量 -->
                <div class="form-row" data-resolve="item">
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        {
                            'text':'メーカー',
                            'id':'itemMaker11',
                            'name':'item-maker',
                            'index': 3
                        }}
                    )}"></th:block>
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        {
                            'text':'型番',
                            'id':'itemModel11',
                            'name':'item-model',
                            'index': 4
                        }}
                    )}"></th:block>
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        {
                            'text':'数量',
                            'id':'itemQuantity11',
                            'name':'item-quantity',
                            'index': 5,
                            'format': 'num'
                        }}
                    )}"></th:block>
                    <div class="form-parts">
                        <label></label>
                        <button class="normal-btn ok" type="button" id="add-item-btn" tabindex="6">登録</button>
                    </div>
                </div>
                <div class="table-area" data-controller="orderItemFormList" data-sync-group="order-item-add">
                    <section th:replace="~{fragments/table/body :: normalFragment('table-header-11', 'table-11')}"></section>
                </div>
            </div>
            <div class="tab-panel" id="tab-13" data-tab-content="order-add-tabs">
                <!-- 作業コード -->
                <!-- 作業名 -->
                <div class="form-row" data-resolve="work">
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        {
                            'text':'作業コード',
                            'id':'orderWorkCode11',
                            'name':'order-work-code',
                            'resolveId': true,
                            'index': 1,
                            'format': 'code'
                        }}
                    )}"></th:block>
                </div>
                <!-- メーカー -->
                <!-- 型番 -->
                <!-- 数量 -->
                <div class="form-row" data-resolve="work">
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        {
                            'text':'作業名',
                            'id':'orderWorkName11',
                            'name':'order-work-name',
                            'index': 2
                        }}
                    )}"></th:block>
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        {
                            'text':'金額',
                            'id':'orderWorkPrice11',
                            'name':'order-work-price',
                            'index': 3,
                            'format': 'num'
                        }}
                    )}"></th:block>
                    <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                        {
                            'text':'数量',
                            'id':'orderWorkQuantity11',
                            'name':'order-work-quantity',
                            'index': 4,
                            'format': 'num'
                        }}
                    )}"></th:block>
                    <div class="form-parts">
                        <label></label>
                        <button class="normal-btn ok" type="button" id="add-work-btn" tabindex="5">登録</button>
                    </div>
                </div>
                <div class="table-area" data-controller="orderWorkFormList" data-sync-group="order-work-add">
                    <section th:replace="~{fragments/table/body :: normalFragment('table-header-12', 'table-12')}"></section>
                </div>
            </div>
            <div class="tab-panel" id="tab-14" data-tab-content="order-add-tabs">
                <section class="attachment-manager" data-attachment-manager>
                    <div class="attachment-toolbar">
                        <button type="button" class="normal-btn ok" data-attachment-action="create-group">＋ フォルダ</button>
                        <span class="attachment-help">写真・図面・PDFを伝票ごとに整理できます。</span>
                    </div>
                    <p class="attachment-empty" data-attachment-empty>伝票を一度保存すると、添付ファイルを追加できます。</p>
                    <div class="attachment-groups" data-attachment-groups></div>
                    <input class="none" type="file" multiple accept="image/jpeg,image/png,image/gif,application/pdf" data-attachment-files>
                    <input class="none" type="file" accept="image/*" capture="environment" data-attachment-camera>
                </section>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="orderItemFormFragment(formId)">
    <div class="dialog-content">
        <div class="form-row">
            <!-- JANコード -->
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'JANコード',
                    'id':'order-item-jan-code',
                    'name':'jan-code',
                    'index': 1,
                    'format': 'num'
                }
            })}"></th:block>
        </div>
        <div class="form-row">
            <!-- 型番 -->
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'型番',
                    'id':'order-item-model',
                    'name':'item-model',
                    'required': '型番を入力してください。',
                    'index': 2
                }
            })}"></th:block>
        </div>
        <div class="form-row">
            <!-- メーカー -->
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'メーカー',
                    'id':'order-item-maker',
                    'name':'item-maker',
                    'index': 3
                }
            })}"></th:block>
        </div>
        <div class="form-row">
            <!-- 商品名 -->
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'商品名',
                    'id':'order-item-name',
                    'name':'item-name',
                    'index': 4
                }
            })}"></th:block>
        </div>
        <div class="form-row">
            <!-- 数量 -->
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'数量',
                    'id':'order-item-quantity',
                    'name':'item-quantity',
                    'index': 5,
                    'format': 'num'
                }
            })}"></th:block>
        </div>
        <div class="form-row">
            <!-- 備考（任意） -->
            <th:block th:replace="~{fragments/components/box :: textareaFragment(${
                {
                    'text':'備考',
                    'id':'order-item-remarks',
                    'name':'remarks',
                    'index': 6
                }
            })}"></th:block>
        </div>
    </div>
</th:block>
