<th:block th:fragment="header01Fragment()">
    <div id="header-01" class="flex-area pc-style">
        <div>
            <th:block th:replace="~{fragments/table/header :: searchBoxFragment('search-box-01')}"></th:block>
            <th:block th:replace="~{fragments/table/header :: kebabBtnsFragment(${
                {
                    'add' : 'add-btn-01',
                    'delete' : 'delete-btn-01',
                    'download' : 'download-btn-01'
                }}
            )}"></th:block>
        </div>
        <div>
            <th:block th:replace="~{fragments/components/box :: selectBoxFragment(${
                {
                    'text':'分類', 
                    'id':'category01', 
                    'name':'category',
                    'combo': 'categoryComboList',
                    'key':'category'
                }}
            )}"></th:block>
            <th:block th:replace="~{fragments/components/box :: dateRangeFragment(${
                {
                    'fromText':'開始日',
                    'fromId':'date-from01',
                    'fromName':'date-from',
                    'toText':'終了日',
                    'toId':'date-to01',
                    'toName':'date-to'
                }}
            )}"></th:block>
            <div class="form-parts">
                <label></label>
                <div>
                    <th:block th:replace="~{fragments/components/btn :: dayMoveBtnFragment('date-from01','date-to01')}" />
                    <th:block th:replace="~{fragments/components/btn :: weekMoveBtnFragment('date-from01','date-to01')}" />
                    <th:block th:replace="~{fragments/components/btn :: monthMoveBtnFragment('date-from01','date-to01')}" />                    
                </div>
            </div>
            <div class="form-parts">
                <label></label>
                <button class="normal-btn ok" type="button" id="search-btn" data-action="search">検索</button>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="header02Fragment()">
    <form id="header-02" class="flex-area pc-style" data-enterfocus="header-02">
        <div>
            <!-- JANコード -->
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'JANコード',
                    'id':'jan-code01',
                    'name':'jan-code',
                    'enterValidate':true,
                    'errorMessage':'JANコードは13桁です',
                    'index': 11,
                    'enterSubmit':true
                }}
            )}"></th:block>
            <div class="form-parts">
                <label></label>
                <button class="img-btn" type="button" id="btn-barcode-scan"><img src="/icons/camera.png"></button>
            </div>
            <!-- メーカー -->
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'メーカー',
                    'id':'item-maker01',
                    'name':'item-maker'
                }}
            )}"></th:block>

            <!-- 商品名 -->
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'商品名',
                    'id':'item-name01',
                    'name':'item-name'
                }}
            )}"></th:block>

            <!-- 型番 -->
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'型番',
                    'id':'item-model01',
                    'name':'item-model'
                }}
            )}"></th:block>
        </div>
    </form>
</th:block>