<main th:fragment="content" class="normal-body" data-page="/js/pages/business/order/productPage.js" data-css="/css/pages/business/order.css">
    <div class="tab-area">
        <ul class="tab-menu">
            <li class="tab-menu-item is-active" data-action="tab" data-group="product-tabs" data-tab="tab-01">一覧</li>
        </ul>
        <div class="tab-panel is-show" id="tab-01" data-tab-content="product-tabs">
            <div class="table-area order-main-table product-main-table" data-controller="orderItemList" data-sync-group="order">
                <header th:replace="~{fragments/pages/business/order/header :: header02Fragment()}"></header>
                <section th:replace="~{fragments/table/body :: normalFragment('table-header-02', 'table-02')}"></section>
                <footer th:replace="~{fragments/table/footer :: datetimeFragment('footer-02')}"></footer>
            </div>
        </div>
    </div>
    <div id="form-dialog-area">
        <form id="form-03" class="form-dialog none" data-controller="orderItemMaster" data-key="item-master-id" data-enterfocus="formー03">
            <div class="dialog-main">
                <header th:replace="~{fragments/dialog/header :: headerFragment(${ {'title': '商品マスター登録'} })}"></header>
                <section th:replace="~{fragments/pages/master/form :: form01Fragment('form-03')}"></section>
                <footer th:replace="~{fragments/dialog/footer :: footerFragment(${ {'footerId':'form-footer-03'} })}"></footer>
            </div>
        </form>
        <form id="form-04" class="form-dialog none" data-controller="orderItem" data-key="order-item-id" data-enterfocus="formー04">
            <div class="dialog-main">
                <header th:replace="~{fragments/dialog/header :: headerFragment(${ {'title': '受注商品登録'} })}"></header>
                <section th:replace="~{fragments/pages/business/order/form :: orderItemFormFragment('form-04')}"></section>
                <footer th:replace="~{fragments/dialog/footer :: footerFragment(${ {'footerId':'form-footer-04'} })}"></footer>
            </div>
        </form>
    </div>
    <div id="msg-dialog-area">
        <div th:replace="~{fragments/dialog/content :: messageFragment}"></div>
    </div>
</main>
