<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<body>

<!-- base の layout-content を埋める -->
<div layout:fragment="layout-content" class="normal-main">

    <!-- <aside class="normal-sidebar"> -->
        <aside class="normal-sidebar" layout:fragment="sidebar-content"></aside>
    <!-- </aside> -->

    <!-- <main class="normal-body"> -->
        <main class="normal-body" layout:fragment="content"></main>
    <!-- </main> -->

</div>

</body>
</html>