<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- タブ1 --------------------------------------------------------------------------------------------------------------->
    <div class="timeworks-content01" th:fragment="side01Fragment()">
        <div class="clock">
            <div>
                <span class="clock-date">0000年00月00日（日）</span>
            </div>
            <div>
                <span class="clock-time">00:00:00</span>
            </div>
        </div>
        <div class="flex-area code-box">
            <div class="form-parts">
                <label>コード</label>
                <input autofocus id="code" class="normal-input" type="text" inputmode="numeric" pattern="\d*" value="" onfocus="this.select();">
            </div>
            <div class="form-parts">
                <label>従業員名</label>
                <input id="name" class="normal-input" type="text" disabled>
            </div>
        </div>    
        <form class="flex-area time-btn">  
            <!-- <button name="start-btn" type="button" onkeydown="handleButtonKey(event, () => setTimeworks('start'))"><span>出勤</span></button>
            <button name="end-btn" type="button" onkeydown="handleButtonKey(event, () => setTimeworks('end'))"><span>退勤</span></button> -->
            <button type="button" name="start-btn"><span>出勤</span></button>
            <button type="button" name="end-btn"><span>退勤</span></button>
        </form>
    </div>

    <main class="table-wrapper" th:fragment="mainFragment01(tableId, scrollId)">
        <table th:id="${tableId}" class="normal-table timeworks01">
            <tr id="row-0" name="table-header" class="pc-style">
                <th><span>氏名<span class="sort-arrow"></span></span></th>
                <th><span>出勤<span class="sort-arrow"></span></span></th>
                <th><span>退勤<span class="sort-arrow"></span></span></th>
                <th><span>営業所<span class="sort-arrow"></span></span></th>
            </tr>
            <tbody th:id="${scrollId}" class="scroll-area"></tbody>
        </table>
        <button type="button" class="page-top"></button>
    </main>
</body>

</html>