<body>

    <th:block th:fragment="inputBoxFragment(text, id, name, index)">
        <div class="form-parts">
            <label th:text="${text}"></label>
            <input th:id="${id}" th:name="${name}" class="normal-input" type="text" value="" data-resolve-id tabindex="${index}" data-action="select-on-focus">
        </div>
    </th:block>

    <th:block th:fragment="selectBoxFragment(text, id, name, target, field, index)">
        <div class="form-parts">
            <label for="${id}" th:text="${text}"></label>
            <select th:id="${id}" th:name="${name}" class="normal-select" 
                    data-action="filter" data-target="${target}" data-field="${field}" data-resolve-name tabindex="${index}"></select>
        </div>
    </th:block>

</body>