
<th:block th:fragment="inputBoxFragment(data)">
    <th:block th:with="
        patternVal=${data['pattern'] != null ? data['pattern'] :
            (data['type'] == 'recycle' ? '[0-9]{4}-[0-9]{8}-[0-9]{1}' :
            (data['type'] == 'phone' ? '[0-9]{4}-[0-9]{4}-[0-9]{4}' :
            (data['type'] == 'postal' ? '[0-9]{3}-?[0-9]{4}' :
            (data['type'] == 'date' ? '[0-9]{4}-[0-9]{2}-[0-9]{2}' : null))))},

            inputmodeVal=${data['inputmode'] != null ? data['inputmode'] :
                (data['type'] == 'recycle' || data['type'] == 'phone' || data['type'] == 'postal' || data['type'] == 'date'
                    ? 'numeric' : null)}
    ">
        <div class="form-parts">
            <label th:if="${data['text']}"
                   th:for="${data['id']}"
                   th:text="${data['text']}"></label>
            <input
                class="normal-input"
                th:type="${data['type'] == 'date' ? 'date' : (data['type'] != null ? data['type'] : 'text')}"
                th:attr="
                    id=${data['id']},
                    name=${data['name']},
                    value=${data['value']},
                    placeholder=${data['placeholder']},
                    pattern=${patternVal},
                    inputmode=${inputmodeVal},
                    data-action=${data['disabled'] == true ? null: (data['action'] != null ? data['action']: 'select-on-focus')},
                    data-type=${data['type']},
                    data-key=${data['key']},
                    data-submit=${data['submit']},
                    data-validate=${data['validate']},
                    data-required=${data['required']},
                    data-enter-validate=${data['enterValidate']},
                    data-enter-submit=${data['enterSubmit']},
                    data-message=${data['errorMessage']},
                    data-clear-skip=${data['clearSkip']},
                    data-resolve-id=${data['resolveId']},
                    data-resolve-name=${data['resolveName']},
                    tabindex=${data['index']},
                    disabled=${data['disabled']},
                    data-trim=${data['trim'] != null ? 'true' : null},
                    data-skip-if-null=${data['skipIfNull'] != null ? 'true' : null},
                    data-zero-to-null=${data['zeroToNull'] != null ? 'true' : null},
                    data-zero-as-blank=${data['zeroAsBlank'] != null ? 'true' : null},
                    data-format=${data['format'] != null ? data['format'] : (data['type'] == 'date' ? 'yyyy-MM-dd' : null)}
                ">
        </div>
    </th:block>
</th:block>

<th:block th:fragment="selectBoxFragment(data)">
    <div class="form-parts">
        <label th:if="${data['text'] != null}"
               th:for="${data['id']}"
               th:text="${data['text']}"></label>
        <select 
            class="normal-select"
            th:attr="
                id=${data['id']},
                name=${data['name']},
                data-key=${data['key']},
                data-action=${data['action']},
                data-combo=${data['combo']},
                data-top=${data['top']},
                data-resolve-id=${data['resolveId']},
                data-resolve-name=${data['resolveName']},
                data-parent-name=${data['parent']},
                data-link-child=${data['link']},
                data-child-default=${data['linkDefault']},
                tabindex=${data['index']},
                data-fill-key=${data['fillKey']},
                data-submit=${data['submit']},
                data-submit-key=${data['submitKey']},
                data-trim=${data['trim'] != null ? '' : null},
                data-skip-if-null=${data['skipIfNull'] != null ? 'true' : null},
                data-zero-if-null=${data['zeroIfNull'] != null ? 'true' : null},
                data-zero-to-null=${data['zeroToNull'] != null ? 'true' : null},
                data-empty-option=${data['emptyOption'] != null ? 'true' : null}
            ">
        </select>
    </div>
</th:block>

<th:block th:fragment="textareaFragment(data)">
    <div class="form-parts">
        <label th:if="${data['text']}"
               th:for="${data['id']}"
               th:text="${data['text']}"></label>

        <textarea
            class="normal-textarea"
            th:attr="
                id=${data['id']},
                name=${data['name']},
                rows=${data['rows']},
                cols=${data['cols']},
                placeholder=${data['placeholder']},
                data-key=${data['key']},
                data-submit=${data['submit']},
                data-trim=${data['trim'] != null ? 'true' : null},
                data-skip-if-null=${data['skipIfNull'] != null ? 'true' : null},
                tabindex=${data['index']}
            ">
        </textarea>
    </div>
</th:block>

<th:block th:fragment="dateRangeFragment(data)">
    <div class="date-range">

        <!-- FROM -->
        <div class="form-parts">
            <label th:if="${data['fromText']}"
                   th:text="${data['fromText']}"></label>

            <input
                class="normal-input"
                type="date"
                th:attr="
                    id=${data['fromId']},
                    name=${data['fromName']},

                    data-action='date-arrow',
                    data-type='date',
                    data-role='start',
                    data-pair=${data['toId']},

                    data-trim=true
                ">
        </div>

        <!-- 区切り -->
        <div class="form-parts">
            <label></label>
            <span class="range-separator">〜</span>
        </div>

        <!-- TO -->
        <div class="form-parts">
            <label th:if="${data['toText']}"
                   th:text="${data['toText']}"></label>

            <input
                class="normal-input"
                type="date"
                th:attr="
                    id=${data['toId']},
                    name=${data['toName']},

                    data-action='date-arrow',
                    data-type='date',
                    data-role='end',
                    data-pair=${data['fromId']},

                    data-trim=true
                ">
        </div>

    </div>
</th:block>

<!-- <th:block th:fragment="dateRangeFragment(data)">
    <div class="date-range">
        <div class="form-parts">
            <label th:if="${data['fromText']}"
                th:text="${data['fromText']}"></label>
            <input
                class="normal-input"
                type="date"
                th:attr="
                    id=${data['fromId']},
                    name=${data['fromName']},
                    data-trim=true
                ">
        </div>
        <div class="form-parts">
            <label></label>
            <span class="range-separator">〜</span>
        </div>        
        <div class="form-parts">
            <label th:if="${data['toText']}"
                th:text="${data['toText']}"></label>
            <input
                class="normal-input"
                type="date"
                th:attr="
                    id=${data['toId']},
                    name=${data['toName']},
                    data-trim=true
                ">
        </div>
    </div>
</th:block> -->