<th:block th:fragment="headerFragment">
    <form id="dispatch-search" class="flex-area page-input-header" data-enterfocus="dispatch-search">
        <div>
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${ {'text':'検索', 'id':'dispatch-keyword', 'name':'keyword', 'type':'search', 'placeholder':'受注番号・件名・住所・担当者'} })}"></th:block>
            <th:block th:replace="~{fragments/components/box :: selectBoxFragment(${ {'text':'割り当て', 'id':'dispatch-assignment-filter', 'name':'assignmentFilter'} })}"></th:block>
        </div>
        <div>
            <th:block th:replace="~{fragments/components/box :: dateRangeFragment(${ {'fromText':'訪問日（開始）', 'fromId':'dispatch-date-from', 'fromName':'dateFrom', 'toText':'訪問日（終了）', 'toId':'dispatch-date-to', 'toName':'dateTo'} })}"></th:block>
            <div class="form-parts"><label for="dispatch-undated">日程未定</label><label><input id="dispatch-undated" type="checkbox" name="includeUndated">日程未定も表示</label></div>
            <div class="form-parts"><label></label><button type="submit" class="normal-btn ok">検索</button></div>
        </div>
    </form>
</th:block>
