<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- 本体 -->
    <div class="normal-content" th:fragment="bodyFragment">
        <!-- ハンバーガー -->
        <div th:replace="~{fragments/common/sidebar :: sidebarFragment}"></div>
        <!-- サイドバー -->
        <div class="normal-sidebar" th:insert="~{__${sidebarFragmentName}__}"></div>
        <!-- ボディ -->
        <div class="normal-body">
            <div class="tab-area">
                <ul class="tab-menu pc-style">
                    <li class="tab-menu-item is-active" data-tab="01">打刻</li>
                    <li class="tab-menu-item" data-tab="02">確定</li>
                    <li class="tab-menu-item" data-tab="03">出力</li>
                    <li class="tab-menu-item" data-tab="04">有給</li>
                    <li class="tab-menu-item" data-tab="05">一覧</li>
                </ul>
                <div class="tab-panel is-show" data-panel="01">
                    <div id="timeworks-container01" class="timeworks-container01">
                        <!-- ヘッダー -->
                        <header th:replace="~{fragments/personnel/timeworks :: header01Fragment()}"></header>
                        <div class="table-area">
                            <!-- コンテンツ -->
                            <main
                                th:replace="~{fragments/personnel/timeworks :: mainFragment01('table-01', 'table-01-content')}">
                            </main>
                            <!-- フッター -->
                            <footer id="footer-01" class="pc-style"
                                th:insert="~{fragments/personnel/timeworks :: footerFragment()}"></footer>
                        </div>
                    </div>
                </div>
                <div class="tab-panel" data-panel="02">
                    <div class="timeworks-container02">
                        <!-- サイド -->
                        <div id="timeworks-sidemenu02" class="side-area">
                            <div class="form-parts">
                                <label>営業所・支店</label>
                                <select tabindex="1" name="office" class="normal-select"></select>
                            </div>
                            <ul id="employee-list-02" class="normal-list timeworks"></ul>
                        </div>
                        <!-- メイン -->
                        <div class="main-area">
                            <!-- ヘッダー -->
                            <header th:replace="~{fragments/personnel/timeworks :: header02Fragment()}"></header>
                            <div class="table-area">
                                <!-- コンテンツ -->
                                <main
                                    th:replace="~{fragments/personnel/timeworks :: mainFragment02('table-02', 'table-02-content')}">
                                </main>
                                <!-- フッター -->
                                <footer id="footer-02" class="pc-style"
                                    th:insert="~{fragments/personnel/timeworks :: footerFragment()}"></footer>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-panel" data-panel="03">
                    <div class="timeworks-container03">
                        <!-- <div class="main-area"> -->
                        <div class="form-parts office">
                            <label>営業所・支店</label>
                            <select tabindex="1" name="office" class="normal-select"></select>
                        </div>
                        <!-- ヘッダー -->
                        <header th:replace="~{fragments/personnel/timeworks :: header03Fragment()}"></header>
                        <div class="table-area">
                            <!-- コンテンツ -->
                            <main
                                th:replace="~{fragments/personnel/timeworks :: mainFragment03('table-03', 'table-03-content')}">
                            </main>
                            <!-- フッター -->
                            <footer id="footer-03" class="pc-style"
                                th:insert="~{fragments/personnel/timeworks :: footerFragment()}"></footer>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="tab-panel" data-panel="04">
                    <div class="timeworks-container04">
                        <!-- <div class="main-area"> -->
                        <div class="flex-area">
                            <div class="form-parts office">
                                <label>営業所・支店</label>
                                <select tabindex="1" name="office" class="normal-select"></select>
                            </div>
                            <div class="form-parts year">
                                <label>年</label>
                                <select tabindex="2" name="year" class="normal-select"></select>
                            </div>
                            <div class="form-parts">
                                <label></label>
                                <button class="normal-btn ok" type="button" onclick="execPaidApplicationEdit()"><span>申請</span></button>
                            </div>
                        </div>
                        <!-- ヘッダー -->
                        <!-- <header th:replace="~{fragments/personnel/timeworks :: header04Fragment()}"></header> -->
                        <div class="table-area">
                            <!-- コンテンツ -->
                            <main
                                th:replace="~{fragments/personnel/timeworks :: mainFragment04('table-04', 'table-04-content')}">
                            </main>
                            <!-- フッター -->
                            <footer id="footer-04" class="pc-style"
                                th:insert="~{fragments/personnel/timeworks :: footerFragment()}"></footer>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="tab-panel" data-panel="05">
                    <div class="timeworks-container05">
                        <!-- サイド -->
                        <div id="timeworks-sidemenu05" class="side-area">
                            <div class="form-parts">
                                <label>営業所・支店</label>
                                <select tabindex="1" name="office" class="normal-select"></select>
                            </div>
                            <ul id="employee-list-05" class="normal-list timeworks"></ul>
                        </div>
                        <!-- メイン -->
                        <div class="main-area">
                            <!-- ヘッダー -->
                            <header th:replace="~{fragments/personnel/timeworks :: header05Fragment()}"></header>
                            <div class="table-area">
                                <!-- コンテンツ -->
                                <main
                                    th:replace="~{fragments/personnel/timeworks :: mainFragment05('table-05', 'table-05-content')}">
                                </main>
                                <!-- フッター -->
                                <footer id="footer-05" class="pc-style"
                                    th:insert="~{fragments/personnel/timeworks :: footerFragment()}"></footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="form-dialog-area">
            <!-- フォーム画面をここに記入する -->
            <div id="form-dialog-01" class="form-dialog none">
                <div class="dialog-main">
                    <div class="dialog-header"><span></span>
                        <div class="img-btn" onclick="closeFormDialog('form-dialog-01', event)"><img title="閉じる"
                            src="/icons/close-s.png">
                        </div>
                    </div>
                    <form id="form-01" class="dialog-content">
                        <div class="flex-area code-box">
                            <div class="form-parts">
                                <label>コード</label>
                                <input id="code02" name="employee-id" class="normal-input" type="text" inputmode="numeric" pattern="\d*" value="" onfocus="this.select();">
                            </div>
                            <div class="form-parts">
                                <label>申請者名</label>
                                <input id="name02" name="employee-name" class="normal-input" type="text" disabled>
                            </div>
                        </div>
                        <div class="form-parts">
                            <label>期間</label>
                            <div class="flex-area">
                                <input id="start-date11" name="start-date" tabindex="11" class="normal-input date-area icon-del" type="date" value="">
                                <span class="pc-style">〜</span>
                                <input id="end-date11" name="end-date" tabindex="12" class="normal-input date-area icon-del" type="date" value="">
                            </div>
                        </div>
                        <div class="form-parts">
                            <label>事由</label>
                            <textarea tabindex="13" name="reason" class="normal-input" value=""></textarea>
                        </div>
                    </form>
                    <div class="dialog-footer">
                        <button class="normal-btn frameless" type="button"
                            onclick="closeFormDialog('form-dialog-01', event)"><span>キャンセル</span></button>
                        <button tabindex="14" class="normal-btn ok" type="button"
                            onclick="execApplication()"><span>申請</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- フォーム画面をここに記入する -->
            <div id="form-dialog-02" class="form-dialog none">
                <div class="dialog-main">
                    <div class="dialog-header"><span></span>
                        <div class="img-btn" onclick="closeFormDialog('form-dialog-02', event)"><img title="閉じる"
                            src="/icons/close-s.png">
                        </div>
                    </div>
                    <form id="form-02" class="dialog-content">
                        <main
                            th:replace="~{fragments/personnel/timeworks :: mainFragment15('table-15', 'table-15-content')}">
                        </main>
                    </form>
                    <div class="dialog-footer">
                        <button class="normal-btn frameless" type="button"
                            onclick="closeFormDialog('form-dialog-02', event)"><span>キャンセル</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="msg-dialog-area">
            <div th:replace="~{fragments/common/dialog :: messageFragment}"></div>
        </div>
        <script type="text/JavaScript" th:inline="JavaScript">
            const token = /*[[${_csrf.token}]]*/;
            let entity = {};

            // const code = document.getElementById('code');
            // const name = document.getElementById('name');
            // const code02 = document.getElementById('code02');
            // const name02 = document.getElementById('name02');
            // const start11 = document.getElementById('start-date11');
            // const startBtn = document.querySelector('button[name="start-btn"]');
            // const endBtn = document.querySelector('button[name="end-btn"]');
            const completeNum = /*[[${completeNum}]]*/;
            const officeId = /*[[${officeId}]]*/;
            const officeList = /*[[${officeList}]]*/;

            const employeeList = /*[[${employeeList}]]*/;
            // const employeeList02 = document.getElementById('employee-list-02');
            // const employeeList05 = document.getElementById('employee-list-05');
            // let list02 = {};
            // let list03 = {};
            // let list04 = {};
            // let list05 = {};
            // let list15 = {};
            const thisYear = new Date().getFullYear();
            const yearList = [];
            for (let y = thisYear - 10; y <= thisYear; y++) {
                let item = {"number":y, "text":y + "年"};
                yearList.push(item);
            }
        </script>
        <script th:src="@{/js/personnel/config/timeworks.js}"></script>
        
        <script th:src="@{/js/personnel/timeworks01.js}"></script>
        <script th:src="@{/js/personnel/timeworks02.js}"></script>
        <script th:src="@{/js/personnel/timeworks03.js}"></script>
        <script th:src="@{/js/personnel/timeworks04.js}"></script>
        <script th:src="@{/js/personnel/timeworks05.js}"></script>
        
        <script th:src="@{/js/personnel/timeworks.js}"></script>
    </div>
</body>

</html>