<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- 本体 -->
    <div class="normal-content" th:fragment="bodyFragment">
        <!-- ハンバーガー -->
        <div th:replace="~{fragments/common/sidebar :: sidebarFragment}"></div>
        <!-- サイドバー -->
        <div class="normal-sidebar" th:insert="~{__${sidebarFragmentName}__}"></div>
        <!-- ボディ -->
        <div class="normal-body">
            <div class="tab-area">
                <ul class="tab-menu">
                    <li class="tab-menu-item is-active" data-tab="01">社員</li>
                    <li class="tab-menu-item" data-tab="02">アルバイト</li>
                </ul>
                <div class="tab-panel is-show" data-panel="01">
                    <div class="table-area">
                        <!-- ヘッダー -->
                        <header
                            th:replace="~{fragments/personnel/working_conditions:: headerFragment('search-box-01')}">
                        </header>
                        <!-- コンテンツ -->
                        <main
                            th:replace="~{fragments/personnel/working_conditions :: mainFragment('table-01', 'table-01-content')}">
                        </main>
                        <!-- フッター -->
                        <footer id="footer-01" class="pc-style"
                            th:insert="~{fragments/personnel/working_conditions :: footerFragment()}"></footer>
                    </div>
                </div>
                <div class="tab-panel" data-panel="02">
                    <div class="table-area">
                        <!-- ヘッダー -->
                        <header
                            th:replace="~{fragments/personnel/working_conditions :: headerFragment('search-box-02')}">
                        </header>
                        <!-- コンテンツ -->
                        <main
                            th:replace="~{fragments/personnel/working_conditions :: mainFragment('table-02', 'table-02-content')}">
                        </main>
                        <!-- フッター -->
                        <footer id="footer-02" class="pc-style"
                            th:insert="~{fragments/personnel/working_conditions :: footerFragment()}"></footer>
                    </div>
                </div>
            </div>
        </div>
        <div id="form-dialog-area">
            <!-- フォーム画面をここに記入する -->
            <div id="form-dialog-01" class="form-dialog none">
                <div class="dialog-main">
                    <div class="dialog-header"><span></span>
                        <div class="img-btn" onclick="closeFormDialog('form-dialog-01', event)"><img title="閉じる"
                                src="/icons/close-s.png"></div>
                    </div>
                    <form id="form-01" class="dialog-content">
                        <input name="working-conditions-id" type="hidden" value="">
                        <input name="employee-id" type="hidden" value="">
                        <input name="category" type="hidden" value="">
                        <input name="version" type="hidden" value="">
                        <div class="flex-area">
                            <span id="employee-name"></span>
                        </div>
                        <div class="flex-area">
                            <div class="form-parts">
                                <label>支払い方法</label>
                                <select tabindex="1" name="payment-method" class="normal-select"></select>
                            </div>
                            <div class="form-parts">
                                <label>給与形態</label>
                                <select tabindex="2" name="pay-type" class="normal-select"></select>
                            </div>
                        </div>
                        <div class="flex-area">
                            <div class="form-parts">
                                <label>基本給 / 時給</label>
                                <input tabindex="3" name="base-salary" class="normal-input text-right" type="text"
                                    inputmode="numeric" pattern="\d*" value="" onfocus="this.select();">
                            </div>
                            <div class="form-parts">
                                <label>交通費</label>
                                <input tabindex="4" name="trans-cost" class="normal-input text-right" type="text"
                                    inputmode="numeric" pattern="\d*" value="" onfocus="this.select();">
                            </div>
                            <div class="form-parts">
                                <label>始業時間</label>
                                <input tabindex="5" name="basic-start-time" class="normal-input icon-del" type="time"
                                    value="" onfocus="this.select();">
                            </div>
                            <div class="form-parts">
                                <label>終業時間</label>
                                <input tabindex="6" name="basic-end-time" class="normal-input icon-del" type="time"
                                    value="" onfocus="this.select();">
                            </div>
                        </div>
                    </form>
                    <div class="dialog-footer">
                        <button class="normal-btn frameless" type="button"
                            onclick="closeFormDialog('form-dialog-01', event)"><span>キャンセル</span></button>
                        <button tabindex="7" class="normal-btn ok" type="button"
                            onclick="execSave()"><span>保存</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="msg-dialog-area">
            <div th:replace="~{fragments/common/dialog :: messageFragment}"></div>
        </div>
        <script type="text/JavaScript" th:inline="JavaScript">
            const token = /*[[${_csrf.token}]]*/;
            const user = /*[[${user}]]*/;
            const formEntity = /*[[${formEntity}]]*/;
            const categoryEmployeeCode = /*[[${categoryEmployeeCode}]]*/;
            const categoryParttimeCode = /*[[${categoryParttimeCode}]]*/;
            const paymentMethodComboList = /*[[${paymentMethodComboList}]]*/;
            const payTypeComboList = /*[[${payTypeComboList}]]*/;
            let origin = /*[[${origin}]]*/; // 初期リスト記憶用
        </script>
        <script th:src="@{/js/personnel/workingconditions.js}"></script>
    </div>

</body>