@charset "UTF-8";

/******************************************************************************************************* 01 */

[data-panel="01"]>.table-area {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-top: 2rem;
    overflow: auto;
    max-width: 90rem;
    height: 100%;
}

[data-panel="01"]>.table-area header {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    column-gap: 2rem;
}

[data-panel="01"]>.table-area header>.flex-area:first-child {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 1rem;
}

[data-panel="01"]>.table-area header>.flex-area:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    margin-bottom: 1rem;
    & >div:first-child {
        display: grid;
        grid-template-columns: 8rem;
        column-gap: .3rem;
    }
    & >div:nth-child(2) {
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        column-gap: .3rem;
    }
    & >div:nth-child(3) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
    & >div:nth-child(4) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
    & >div:nth-child(5) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
}

#table-01 tr {
    grid-template-columns: 3rem 12rem 8rem 8rem 1fr 1fr 1fr;
}

/*******************************************************************************************************  */

[data-panel="02"]>.table-area,
[data-panel="03"]>.table-area,
[data-panel="04"]>.table-area,
[data-panel="05"]>.table-area {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-top: 2rem;
    overflow: auto;
    max-width: 90rem;
    height: 100%;
}

[data-panel="02"]>.table-area header,
[data-panel="03"]>.table-area header,
[data-panel="04"]>.table-area header,
[data-panel="05"]>.table-area header {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    column-gap: 2rem;
}

[data-panel="03"]>.table-area header>.flex-area:first-child ,
[data-panel="04"]>.table-area header>.flex-area:first-child ,
[data-panel="05"]>.table-area header>.flex-area:first-child  {
    display: grid;
    grid-template-columns: auto 15rem 5rem 20rem 5rem 20rem 1fr;;
    margin-bottom: 1rem;
}

#table-02 tr,
#table-03 tr,
#table-04 tr,
#table-05 tr {
    grid-template-columns: 3rem 12rem 8rem 1fr 1fr 1fr;
}

/******************************************************************************************************* 02 */

[data-panel="02"]>.table-area header>.flex-area:first-child {
    display: grid;
    grid-template-columns: 5rem auto 20rem 1fr;;
    margin-bottom: 1rem;
}

[data-panel="02"]>.table-area header>.flex-area:nth-child(2) {
    display: grid;
    grid-template-columns: auto 15rem 5rem 20rem 5rem 20rem 6rem 1fr;;
    margin-bottom: 1rem;
}

/******************************************************************************************************* 03,04 */

[data-panel="03"]>.table-area header>.flex-area:first-child {
    display: grid;
    grid-template-columns: 5rem auto 1fr;;
    margin-bottom: 1rem;
}

[data-panel="03"]>.table-area header>.flex-area:nth-child(2) {
    display: grid;
    grid-template-columns: auto 15rem 6rem 1fr;;
    margin-bottom: 1rem;
}

/******************************************************************************************************* 05 */

[data-panel="04"]>.table-area header>.flex-area:first-child,
[data-panel="05"]>.table-area header>.flex-area:first-child {
    display: grid;
    grid-template-columns: auto 15rem 6rem 1fr;;
    margin-bottom: 1rem;
}

/*******************************************************************************************************  */

#table-11 tr {
    grid-template-columns: 12rem 1fr 1fr 3rem;
}

:is(#table-12, #table-13, #table-14) tr {
    grid-template-columns: 8rem 1fr 3rem;
    height: 3rem;
}

#table-01 tr[data-valid="true"] {
    background-color: orangered;
}

/******************************************************************************************************* form */

:is(#form-01).dialog-content {
    height: 100%;
    width: 80rem;
}

:is(#form-02, #form-03, #form-04).dialog-content {
    height: 100%;
    width: 40rem;
}

:is(#form-05).dialog-content {
    height: 100%;
    /* width: 30rem; */
}

:is(#form-01, #form-02, #form-03, #form-04, #form-05) .normal-table {
    height: 25rem;
    width: 100%;
}

:is(#form-01, #form-02, #form-03, #form-04, #form-05) .normal-table .scroll-area {
    overflow: auto;
    min-height: 15rem;
}

:is(#form-01, #form-02, #form-03, #form-04, #form-05) .table-area {
    display: grid;
    row-gap: .5rem;
    overflow: hidden;
    margin-top: 0;
}

#form-dialog-01 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: auto 20rem 12rem 1fr;
        width: 100%;
        & >.form-parts:nth-child(4) {
            margin-left: 2rem;
        }
    }
    /* & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: auto 12rem 1fr;
    } */
    & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: 12rem 6rem 1fr 6rem 1fr 6rem;
        width: 100%;
    }
}

#form-dialog-02 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: auto 12rem 6rem 1fr ;
        width: 100%;
    }
}

#form-dialog-03 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: auto 12rem 6rem 1fr ;
        width: 100%;
    }
}

#form-dialog-04 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: auto 12rem 6rem 1fr ;
        width: 100%;
    }
}

#form-dialog-05 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: 10rem 1fr ;
        width: 100%;
    }
    & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: 6rem 1fr 6rem;
    }
    & >.flex-area:nth-of-type(3) {
        display: grid;
        grid-template-columns: 6rem 1fr 6rem;
        width: 100%;
    }
    & >.flex-area:nth-of-type(4) {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 100%;
    }
    & >.flex-area:nth-of-type(5) {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    & >.flex-area:nth-of-type(6) {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
}