<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/no-sidebar}">

<body>
    <!-- 本体 -->
    <main layout:fragment="content">
        <!-- ボディ -->
        <div class="normal-body">
            <form class="input-prompt">
                <div class="flex-area">
                    <input class="normal-input" type="text" name="question" placeholder="質問を入力してください" />
                    <button class="normal-btn" type="button">質問</button>
                </div>
            </form>

            <div th:if="${answer}">
                <pre th:text="${answer}"></pre>
            </div>
        </div>
        <div id="form-dialog-area">
            <!-- フォーム画面をここに記入する -->
        </div>
        <div id="msg-dialog-area">
            <div th:replace="~{fragments/common/dialog :: messageFragment}"></div>
        </div>
        <script th:src="@{/js/data/subscription.js}"></script>
        <script type="text/JavaScript" th:inline="JavaScript">
            const token = /*[[${_csrf.token}]]*/;
            const user_name = /*[[${user_name}]]*/;
            const employeeId = /*[[${employeeId}]]*/;
        </script>
        <script th:src="@{/js/index/home.js}"></script>
    </main>

</body>