@charset "UTF-8";

:is(#header-01, #header-02) {
    display: grid;
    &>div {
        display: grid;
        column-gap: 2rem;
    }
    &>div:first-of-type {
        grid-template-columns: 1fr auto;
    }
}

#header-01>div:nth-of-type(2) {
    margin-left: 1rem;
    grid-template-columns: minmax(10rem, auto) 1fr;
}

#header-02>div:nth-of-type(2) {
    margin-left: 1rem;
    grid-template-columns: auto 1fr;
}

#code-area {
    display: grid;
    grid-template-columns: 6rem minmax(10rem, auto) 1fr;
}

:is(#table-01, #table-header-01) tr {
    grid-template-columns: 3rem 5rem 40% 9rem 1fr 2rem;
}

:is(#table-02, #table-header-02) tr {
    grid-template-columns: 3rem 5rem 1fr 5rem 1fr 9rem 2rem;
}

.tab-panel .table-area {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 2rem;
    overflow: hidden;
    max-width: 70rem;
}

#form-01 {
    & .dialog-content {
        width: 40rem;
        & >.form-row {
            display: grid;
            gap: .3rem;
            /* width: 100%; */
        }
        & >.form-row:nth-of-type(1) {
            grid-template-columns: minmax(10rem, auto);
        }
        & >.form-row:nth-of-type(2) {
            width: 100%;
            grid-template-columns: 1fr;
        }
        & >.form-row:nth-of-type(3) {
            width: 100%;
            grid-template-columns: 1fr;
        }
        & >.form-row:nth-of-type(4) {
            grid-template-columns: 12rem 12rem;
        }
        & >.form-row:nth-of-type(5) {
            width: 100%;
            grid-template-columns: 8rem 1fr;
        }
        & >.form-row:nth-of-type(6) {
            width: 100%;
            grid-template-columns: 1fr;
        }
        & >.form-row:nth-of-type(7) {
            width: 100%;
            grid-template-columns: 1fr auto;
        }
    }
}

#form-02 {
    & .dialog-content {
        width: 40rem;
        & >.form-row {
            display: grid;
            gap: .3rem;
        }
        & >.form-row:nth-of-type(1) {
            grid-template-columns: minmax(10rem, auto);
        }
        & >.form-row:nth-of-type(2) {
            width: 100%;
            grid-template-columns: 1fr;
        }
        & >.form-row:nth-of-type(3) {
            width: 100%;
            grid-template-columns: 1fr;
        }
        & >.form-row:nth-of-type(4) {
            grid-template-columns: 12rem 12rem;
        }
        & >.form-row:nth-of-type(5) {
            width: 100%;
            grid-template-columns: 8rem 1fr;
        }
        & >.form-row:nth-of-type(6) {
            width: 100%;
            grid-template-columns: 1fr;
        }
    }
}