@charset "UTF-8";

.tab-area {
    display: grid;
    grid-template-rows: auto 1fr;
}

.tab-panel header {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;
}

:is(#table-01, #table-02, #table-03) tr {
    grid-template-columns: 3rem 5rem 5rem 12rem 1fr 1fr;
    text-align: center;
}

.tab-panel .table-area {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 2rem;
    overflow: hidden;
    max-width: 55rem;
}

#form-dialog-01 {
    & .dialog-content {
        & >.flex-area:nth-of-type(1) {
            display: grid;
            grid-template-columns: 20rem 5rem;
        }
        & >.flex-area:nth-of-type(2) {
            display: grid;
            grid-template-columns: 15rem 1fr;
        }
        & >.flex-area:nth-of-type(3) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            & .flex-area {
                display: grid;
                grid-template-columns: 8rem 8rem;
            }
        }
        & >.flex-area:nth-of-type(4) {
            display: grid;
            grid-template-columns: 10rem 1fr;
            width: 100%;
        }
        & >.flex-area:nth-of-type(5) {
            display: grid;
            grid-template-columns: 8rem 1fr;
            width: 100%;
        }
        & >.flex-area:nth-of-type(6) {
            display: grid;
            grid-template-columns: 11rem 8rem 8rem;
        }
        & >.flex-area:nth-of-type(7) {
            display: grid;
            grid-template-columns: 1fr 11rem;
            width: 100%;
            & .flex-area {
                display: grid;
                grid-template-columns: 10rem 1fr;
                width: 100%;
            }
        }
    }
}
