table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.holiday {
    background-color: #ffd6d6;
}

.paid {
    background-color: #d6f5ff;
}