@charset "UTF-8";

.clock {
    font-family: 'Share Tech Mono', monospace;
    color: var(--black);
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
}

/* 日付のスタイル */
.clock-date {
    font-size: 1.5rem;
}

/* 時間のスタイル */
.clock-time {
    font-size: 4rem;
}

.tab-area.timeworks {
    display: grid;
    grid-template-rows: 3rem 1fr;    
}

/* 勤怠リスト部分 */
.table-area.timeworks {
    display: grid;
    grid-template-rows: 1fr 3rem;
    max-width: 40rem;
}

.timeworks-container01 {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.timeworks-container01 {
    grid-template-columns: 23rem 1fr;
    column-gap: 1rem;
}

/* 打刻入力部分 */
.timeworks-content01 {
    display: grid;
    row-gap: 1rem;
    grid-template-rows: auto auto 5rem 1fr;
    padding: 1rem;
}

.timeworks-content01 .code-box {
    display: grid;
    grid-template-columns: 6rem 1fr;
}

.timeworks-content01 .time-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.time-btn>button {
    height: 100%;
    border-radius: .5rem;
    font-size: 1.5rem;
    border: 2px solid var(--br);
}

.time-btn>button:hover {
    background-color: var(--btn-hover-bg);
}

.normal-table.timeworks01 tr {
    grid-template-columns: 11rem 5rem 5rem 1fr;
}

.normal-table.timeworks01 tbody tr[name="data-row"] {
    height: 2rem;
    border: 0;
}

.normal-table.timeworks01 tbody tr[name="data-row"].selected {
    background-color: transparent;
}

.normal-table.timeworks01 tbody tr[name="data-row"]:hover+tr[name="data-row"]:last-child {
    border: 0;
}

#employee-list-01.normal-list {
    padding: 0 1rem;
}