@charset "UTF-8";

.tab-area {
    display: grid;
    grid-template-rows: auto 1fr;
}

.tab-panel header {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;
}

.tab-panel[data-panel="01"] header {
    grid-template-columns: 1fr 8rem auto auto auto;
    column-gap: .5rem;
}
.tab-panel[data-panel="02"] header {
    grid-template-columns: 1fr 8rem 12rem auto auto;
    column-gap: .5rem;
}

.tab-panel[data-panel="01"] header div:nth-child(1).search-box,
.tab-panel[data-panel="02"] header div:nth-child(1).search-box {
    align-self: end;
}

.tab-panel[data-panel="01"] header div:nth-child(2).form-parts,
.tab-panel[data-panel="02"] header div:nth-child(2).form-parts {
    margin-left: 2rem;
}

/* .qualification-area {
    max-width: 40rem;
}

.qualification-area>header {
    margin-bottom: 1rem;
}

.table-area>header {
    margin-bottom: 1rem;
}

.normal-list.qualification {
    border-radius: .5rem;
    border: 1px solid var(--br);
    margin-bottom: 1rem;
    padding: 1.2rem;
    min-height: 8rem;
}

#code-area {
    margin-top: 2rem;
}

#code-box-01,#code-box-02 {
    width: 5rem;
}

#name-box-01,#name-box-02 {
    width: 10rem;
}

#form-01 {
    margin-bottom: 2rem;
}

#qualification-list-01 li {
    min-height: 2.5rem;
    align-content: center;
    position: relative;
} */

#table-01 tr {
    grid-template-columns: 3rem 5rem 10rem minmax(10rem, 20rem) 5rem 9rem 6rem 1fr;
    text-align: center;
}
#table-02 tr {
    grid-template-columns: 3rem 5rem 10rem minmax(10rem, 20rem) 5rem 9rem 6rem 1fr;
    text-align: center;
}

td[name="status-cell"][data-status="取得済み"] {
    color: var(--red);
}

.table-area {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 2rem;
    overflow: hidden;
    min-width: 65rem;
    max-width: 75rem;
}

/* #form-01 {
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: auto;
        margin-bottom: .5rem;
    }
    & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: .5rem;
    }
    & >.flex-area:nth-of-type(3) {
        display: grid;
        grid-template-columns: 11rem 11rem 1fr auto;
        align-items: end;
        & button {
            width: 6rem;
            justify-self: end;
        }
    }
} */
