@charset "UTF-8";

.tab-area {
    display: grid;
    grid-template-rows: auto 1fr;
}

.tab-panel[data-panel="01"] header {
    display: grid;
    row-gap: .5rem;
    & >.flex-area:nth-child(1) {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: .5rem;
    }
    & >.flex-area:nth-child(2) {
        display: grid;
        grid-template-columns: 6rem auto auto 1fr;
        column-gap: .5rem;
    }
}
.tab-panel[data-panel="02"] header {
    display: grid;
    row-gap: .5rem;
    & >.flex-area:nth-child(1) {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: .5rem;
    }
    & >.flex-area:nth-child(2) {
        display: grid;
        grid-template-columns: 6rem 10rem auto 1fr;
        column-gap: .5rem;
    }
}
.tab-panel[data-panel="03"] header {
    display: grid;
    row-gap: .5rem;
    & >.flex-area:nth-child(1) {
        display: grid;
        grid-template-columns: 10rem 6rem auto auto auto 1fr;
        column-gap: .5rem;
    }
    & >.flex-area:nth-child(2) {
        display: grid;
        grid-template-columns: 10rem 6rem 12rem auto auto 1fr;
        column-gap: .5rem;
    }
}

#form-dialog-01 {
    & .dialog-content {
        min-width: 35rem;
        & >.flex-area:nth-of-type(1) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            & p {
                font-size: 1.3rem;
                margin: 0;
            }
        }
        & >.flex-area:nth-of-type(2) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            & p {
                font-size: 1.2rem;
                margin: 0 0 .5rem 1rem;
            }
        }
        & >.flex-area:nth-of-type(3) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
        }
        & >.flex-area:nth-of-type(4) {
            display: grid;
            grid-template-columns: auto auto 1fr;
            width: 100%;
        }
    }
}

#table-01 tr {
    grid-template-columns: 10rem minmax(10rem, 20rem) 9rem 1fr 8rem;
    text-align: center;
}

#table-02 tr {
    grid-template-columns: 10rem minmax(10rem, 20rem) 9rem 1fr 8rem;
    text-align: center;
}

#table-01 tr>td:nth-of-type(7),
#table-02 tr>td:nth-of-type(7) {
    padding-left: 2rem;
}

td[name="status-cell"][data-status="取得済み"] {
    color: var(--red);
}

td:has(.img-btn) {
    display: flex;
    justify-content: center;
}

td>.img-btn {
    padding: .2rem;
}

.table-area {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 2rem;
    overflow: hidden;
    min-width: 65rem;
    max-width: 75rem;
}

.qualification-area {
    max-width: 40rem;
}

.qualification-area>header {
    margin-bottom: 1rem;
}

#file-list {
    min-height: 40rem;
    border: 2px dashed #ccc;
    padding: 10px;
}

.check-area {
    display: flex;
    align-items: center;
    min-width: 90px;
}

.flex-area {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}