@charset "UTF-8";

.tab-area {
    display: grid;
    grid-template-rows: auto 1fr;
}

.tab-panel[data-panel="01"] header {
    display: grid;
    row-gap: .5rem;
    & >.flex-area:nth-child(1) {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: .5rem;
    }
    & >.flex-area:nth-child(2) {
        display: grid;
        grid-template-columns: 6rem auto auto 1fr;
        column-gap: .5rem;
    }
}
.tab-panel[data-panel="02"] header {
    display: grid;
    row-gap: .5rem;
    & >.flex-area:nth-child(1) {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: .5rem;
    }
    & >.flex-area:nth-child(2) {
        display: grid;
        grid-template-columns: 6rem 10rem auto 1fr;
        column-gap: .5rem;
    }
}

#form-dialog-01 {
    & .dialog-content {
        min-width: 35rem;
        & >.flex-area:nth-of-type(1) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            & p {
                font-size: 1.3rem;
                margin: 0;
            }
        }
        & >.flex-area:nth-of-type(2) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            & p {
                font-size: 1.2rem;
                margin: 0 0 .5rem 1rem;
            }
        }
        & >.flex-area:nth-of-type(3) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
        }
        & >.flex-area:nth-of-type(4) {
            display: grid;
            grid-template-columns: auto auto 1fr;
            width: 100%;
        }
    }
}

#table-01 tr {
    grid-template-columns: 3rem 5rem 10rem minmax(10rem, 20rem) 5rem 9rem 6rem 1fr;
    text-align: center;
}
#table-02 tr {
    grid-template-columns: 3rem 5rem 10rem minmax(10rem, 20rem) 5rem 9rem 6rem 1fr;
    text-align: center;
}

td[name="status-cell"][data-status="取得済み"] {
    color: var(--red);
}

.table-area {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 2rem;
    overflow: hidden;
    min-width: 65rem;
    max-width: 75rem;
}

/* .qualification-area {
    max-width: 40rem;
}

.qualification-area>header {
    margin-bottom: 1rem;
}

.table-area>header {
    margin-bottom: 1rem;
}

.normal-list.qualification {
    border-radius: .5rem;
    border: 1px solid var(--br);
    margin-bottom: 1rem;
    padding: 1.2rem;
    min-height: 8rem;
}

#code-area {
    margin-top: 2rem;
}

#code-box-01,#code-box-02 {
    width: 5rem;
}

#name-box-01,#name-box-02 {
    width: 10rem;
}

#form-01 {
    margin-bottom: 2rem;
}

#qualification-list-01 li {
    min-height: 2.5rem;
    align-content: center;
    position: relative;
} */

/* #form-01 {
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: auto;
        margin-bottom: .5rem;
    }
    & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: .5rem;
    }
    & >.flex-area:nth-of-type(3) {
        display: grid;
        grid-template-columns: 11rem 11rem 1fr auto;
        align-items: end;
        & button {
            width: 6rem;
            justify-self: end;
        }
    }
} */
