@charset "UTF-8";

/* .tab-area {
    display: grid;
    grid-template-rows: auto 1fr;
} */

.tab-panel header {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;
}

.tab-panel[data-panel='05'] header {
    grid-template-columns: 1fr;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: 1fr auto;
    }
    & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: auto;
        margin-top: .5rem;
        margin-left: 1rem;
    }
}

:is(#table-01, #table-02, #table-03, #table-04, #table-05, #table-07) tr {
    grid-template-columns: 3rem 5rem 40% 9rem 1fr 2rem;
    /* text-align: center; */
}

#table-06 tr {
    grid-template-columns: 3rem 5rem 15rem 1fr 1fr 2rem;
}

.tab-panel .table-area {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 2rem;
    overflow: hidden;
    max-width: 70rem;
}

.tab-panel[data-panel='05'] #code-area {
    display: grid;
    grid-template-columns: 6rem 15rem;
    margin-right: 5rem;
}

.tab-panel[data-panel='06'] #code-area {
    display: grid;
    grid-template-columns: 6rem 1fr 1fr;
    margin-right: 5rem;
}

#form-dialog-01 {
    & .dialog-content {
        & >.flex-area:nth-of-type(1) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            & p {
                font-size: 1.2rem;
            }
        }
        & >.flex-area:nth-of-type(2) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
        }
        & >.flex-area:nth-of-type(3) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
        }
        & >.flex-area:nth-of-type(4) {
            display: grid;
            grid-template-columns: 12rem 12rem;
        }
        & >.flex-area:nth-of-type(5) {
            display: grid;
            grid-template-columns: 9rem;
        }
        & >.flex-area:nth-of-type(6) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
        }
        & >.flex-area:nth-of-type(7) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
        }
        & >.flex-area:nth-of-type(8) {
            display: grid;
            grid-template-columns: 1fr auto;
            width: 100%;
        }
    }
}

#form-dialog-02 {
    & .dialog-content {
        & >.flex-area:nth-of-type(1) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            & p {
                font-size: 1.2rem;
                margin: .5rem 0;
            }
        }
        & >.flex-area:nth-of-type(2) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
        }
        & >.flex-area:nth-of-type(3) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
        }
        & >.flex-area:nth-of-type(4) {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
        }
    }
}