<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/no-sidebar}">
<body>
    <main layout:fragment="content">
        <section class="input-prompt">
            <form id="ai-form">
                <div class="flex-area">
                    <input class="normal-input"
                        type="text"
                        name="question"
                        placeholder="質問を入力してください" />
                    <button class="normal-btn" type="submit"><span>質問</span></button>
                </div>
            </form>

            <div id="answer-area"></div>
        </section>
    </main>
</body>

</html>