@charset "UTF-8";

.table-area {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-top: 2rem;
    overflow: auto;
    max-width: 50rem;
    height: 100%;
}

.table-area header {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    column-gap: 2rem;
}

.table-area header>.flex-area:first-child {
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin-bottom: 1rem;
    & .search-box {
        margin-right: 3rem;
    }
}

/* .table-area header>.flex-area:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    margin-bottom: 1rem;
    & >div:first-child {
        display: grid;
        grid-template-columns: 8rem;
        column-gap: .3rem;
    }
    & >div:nth-child(2) {
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        column-gap: .3rem;
    }
    & >div:nth-child(3) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
    & >div:nth-child(4) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
    & >div:nth-child(5) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
} */

/* #table-01-content {
    max-height: 60%;
} */

#table-01 tr {
    grid-template-columns: 3rem 6rem 8rem 5rem 1fr;
}

#table-01 tr td:nth-child(2),
#table-01 tr td:nth-child(4) {
    padding-right: 2rem;
}

/* #table-11 tr {
    grid-template-columns: 12rem 1fr 1fr 3rem;
}

:is(#table-12, #table-13, #table-14) tr {
    grid-template-columns: 8rem 1fr 3rem;
}

#table-01 tr[data-valid="true"] {
    background-color: orangered;
} */

/******************************************************************************************************* form */

/* :is(#form-01).dialog-content {
    height: 100%;
    width: 70rem;
} */

/* :is(#form-02, #form-03, #form-04).dialog-content {
    height: 100%;
    width: 40rem;
} */

/* :is(#form-05).dialog-content {
    height: 100%;
} */

/* :is(#form-01, #form-02, #form-03, #form-04, #form-05) .normal-table {
    height: 25rem;
    width: 100%;
} */

/* :is(#form-01, #form-02, #form-03, #form-04, #form-05) .normal-table .scroll-area {
    overflow: auto;
    min-height: 15rem;
} */

/* :is(#form-01, #form-02, #form-03, #form-04, #form-05) .table-area {
    display: grid;
    row-gap: .5rem;
    overflow: hidden;
    margin-top: 0;
} */

/* #form-dialog-01 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        width: 100%;
    }
    & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: auto 12rem 1fr;
    }
    & >.flex-area:nth-of-type(3) {
        display: grid;
        grid-template-columns: 6rem 1fr 6rem 1fr 6rem;
        width: 100%;
    }
} */

/* #form-dialog-02 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: auto 12rem 6rem 1fr ;
        width: 100%;
    }
} */

/* #form-dialog-03 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: auto 12rem 6rem 1fr ;
        width: 100%;
    }
} */

/* #form-dialog-04 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: auto 12rem 6rem 1fr ;
        width: 100%;
    }
} */

/* #form-dialog-05 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: 10rem 1fr ;
        width: 100%;
    }
    & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: 6rem 1fr 6rem;
    }
    & >.flex-area:nth-of-type(3) {
        display: grid;
        grid-template-columns: 6rem 1fr 6rem;
        width: 100%;
    }
    & >.flex-area:nth-of-type(4) {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 100%;
    }
    & >.flex-area:nth-of-type(5) {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    & >.flex-area:nth-of-type(6) {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
} */