<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <header class="form-parts pc-style" th:fragment="header01Fragment(box, start, end)">
        <div class="flex-area">
            <!-- 検索ボックス -->
            <div class="search-box">
                <input th:id="${box}" type="search" placeholder="検索">
                <img title="検索" src="/icons/search.png" onclick="execFilterDisplay(this)">
            </div>
            <!-- 各種ボタン -->
            <div class="kebab-btns">
                <div class="img-btn" onclick="execDelete(this)">
                    <img title="削除" src="/icons/dust.png">
                    <span>削除</span>
                </div>
                <div class="img-btn" onclick="execDownloadCsv(this)">
                    <img title="ダウンロード" src="/icons/download.png">
                    <span>取得</span>
                </div>
            </div>
        </div>
        <!-- 期間指定ボックス -->
        <div class="flex-area">
            <!-- フィルターボックス -->
            <!-- <div class="flex-area"> -->
                <select id="date-category" name="date-category" class="normal-select"></select> 
            <!-- </div> -->
            <div>
                <input th:id="${start}" class="normal-input date-area" type="date" value="" onfocus="this.select();">
                <span class="pc-style">〜</span>
                <input th:id="${end}" class="normal-input date-area" type="date" value="" onfocus="this.select();">
                <button id="date-search-btn01" class="normal-btn ok" type="button" onclick="refleshDisplay()">
                    <span>検索</span>
                </button>                    
            </div>
            <!-- 日付移動ボタン -->
            <div th:replace="~{fragments/common/header::header-month-move-btn-fragment('__${start}__', '__${end}__')}"></div>
            <div th:replace="~{fragments/common/header::header-day-move-btn-fragment('__${start}__', '__${end}__')}"></div>
            <div th:replace="~{fragments/common/header::header-week-move-btn-fragment('__${start}__', '__${end}__')}"></div>
        </div>
    </header>
    <header class="form-parts pc-style" th:fragment="header02Fragment(box, start)">
        <!-- 期間指定ボックス -->
        <div class="flex-area">
            <div class="form-parts">
                <label></label>
                <input tabindex="1" th:id="${start}" class="normal-input date-area" type="date" value="" onfocus="this.select();">
            </div>
            <div class="form-parts">
                <label>お問合せ管理票番号</label>
                <input tabindex="2" th:id="${box}" name="number" class="normal-input" type="text" data-reset value="" onfocus="this.select();">
            </div>
        </div>
        <div class="flex-area">
            <div class="form-parts">
                <label>品目・料金区分</label>
                <input tabindex="2" id="item-code" name="item-code" class="normal-input" type="text" data-reset
                    value="" onfocus="this.select();">
            </div>
            <div class="form-parts">
                <label></label>
                <input id="item-name" name="item-name" class="normal-input" type="text" readonly data-reset
                    value="" onfocus="this.select();">
            </div>
            <div class="form-parts">
                <label>製造業者等名</label>
                <input tabindex="3" id="maker-code" name="maker-code" class="normal-input" type="text" data-reset
                    value="" onfocus="this.select();">
            </div>
            <div class="form-parts">
                <label></label>
                <input id="maker-name" name="maker-name" class="normal-input" type="text" readonly data-reset
                    value="" onfocus="this.select();">
            </div>
        </div>
    </header>

    <form id="form-01" class="dialog-content" th:fragment="form01Fragment()">
        <div class="flex-area">
            <div class="form-parts">
                <label>伝票番号</label>
                <input tabindex="1" id="number" name="number" class="normal-input" type="text" data-reset
                    value="" onfocus="this.select();">
            </div>
        </div>
        <div class="flex-area">
            <div class="form-parts">
                <label>品目・料金区分</label>
                <input tabindex="2" id="item-code" name="item-code" class="normal-input" type="text" data-reset
                    value="" onfocus="this.select();">
            </div>
            <div class="form-parts">
                <label></label>
                <input id="item-name" name="item-name" class="normal-input" type="text" readonly data-reset
                    value="" onfocus="this.select();">
            </div>
        </div>
        <div class="flex-area">
            <div class="form-parts">
                <label>製造業者等名</label>
                <input tabindex="3" id="maker-code" name="maker-code" class="normal-input" type="text" data-reset
                    value="" onfocus="this.select();">
            </div>
            <div class="form-parts">
                <label></label>
                <input id="maker-name" name="maker-name" class="normal-input" type="text" readonly data-reset
                    value="" onfocus="this.select();">
            </div>
            <div class="form-parts">
                <label>リサイクル料</label>
                <input tabindex="4" id="recycling-fee" name="recycling-fee" class="normal-input text-right" data-reset
                    type="text" value="" onfocus="this.select();">
            </div>
        </div>
        <div class="flex-area">
            <div class="form-parts">
                <label>使用日</label>
                <input tabindex="5" id="use-date" name="use-date" class="normal-input" type="date" value="" data-reset
                    onfocus="this.select();">
            </div>
            <div class="form-parts">
                <label>引渡日</label>
                <input tabindex="6" id="delivery-date" name="delivery-date" class="normal-input" type="date" value="" data-reset
                    onfocus="this.select();">
            </div>
            <div class="form-parts">
                <label>発送日</label>
                <input tabindex="7" id="shipping-date" name="shipping-date" class="normal-input" type="date" value="" data-reset
                    onfocus="this.select();">
            </div>
            <div class="form-parts">
                <label>ロス処理日</label>
                <input tabindex="8" id="loss-date" name="loss-date" class="normal-input" type="date" value="" data-reset
                    onfocus="this.select();">
            </div>
        </div>
        <div class="flex-area">
            <div class="form-parts">
                <label>小売業者</label>
                <select tabindex="9" id="company" name="company" data-reset
                    class="normal-select"></select>
            </div>
        </div>
        <div class="flex-area">
            <div class="form-parts">
                <label>支店</label>
                <select tabindex="10" id="office" name="office" data-reset
                    class="normal-select"></select>
            </div>
        </div>
    </form>

    <main th:fragment="main01Fragment(tableId, scrollId)">
        <table th:id="${tableId}" class="normal-table">
            <tr name="table-header" class="pc-style">
                <th name="chk-cell"><input name="all-chk-btn" class="normal-chk" type="checkbox" onclick="clickAllCheckBtn(this)"></th>
                <th><span>お問合せ管理票番号</span></th>
                <th><span>使用日</span><br><span>引渡日</span></th>
                <th><span>発送日</span><br><span>ロス処理日</span></th>
                <th><span>登録日</span><br><span>伝票番号</span></th>
                <th><span>小売業者</span></th>
                <th><span>製造業者等名</span><br><span>品目・料金区分</span></th>
            </tr>
            <tbody th:id="${scrollId}" class="scroll-area"></tbody>
        </table>
        <button type="button" class="page-top"></button>
    </main>

    <!-- <main th:fragment="main02Fragment(tableId, scrollId)">
        <table th:id="${tableId}" class="normal-table">
            <tr name="table-header" class="pc-style">
                <th><span>お問合せ管理票番号</span><br><span>使用日</span></th>
                <th><span>小売業者</span></th>
                <th><span>製造業者等名</span><br><span>品目・料金区分</span></th>
            </tr>
            <tbody th:id="${scrollId}" class="scroll-area"></tbody>
        </table>
        <button type="button" class="page-top"></button>
    </main> -->

    <main th:fragment="main02Fragment(tableId, scrollId, title)">
        <table th:id="${tableId}" class="normal-table">
            <tr name="table-header" class="pc-style">
                <th><span>お問合せ管理票番号</span><br><span th:value="${title}"></span></th>
                <th><span>小売業者</span></th>
                <th><span>製造業者等名</span><br><span>品目・料金区分</span></th>
            </tr>
            <tbody th:id="${scrollId}" class="scroll-area"></tbody>
        </table>
        <button type="button" class="page-top"></button>
    </main>

    <!-- <main th:fragment="main04Fragment(tableId, scrollId)">
        <table th:id="${tableId}" class="normal-table">
            <tr name="table-header" class="pc-style">
                <th><span>発送日</span></th>
                <th><span>お問合せ管理票番号</span></th>
            </tr>
            <tbody th:id="${scrollId}" class="scroll-area"></tbody>
        </table>
        <button type="button" class="page-top"></button>
    </main>


    <main th:fragment="main05Fragment(tableId, scrollId)">
        <table th:id="${tableId}" class="normal-table">
            <tr name="table-header" class="pc-style">
                <th><span>ロス処理日</span></th>
                <th><span>お問合せ管理票番号</span></th>
            </tr>
            <tbody th:id="${scrollId}" class="scroll-area"></tbody>
        </table>
        <button type="button" class="page-top"></button>
    </main> -->

    <footer th:fragment="footerFragment()" th:remove="tag">
        <span>0件 : 0000/00/00 00:00 現在</span>
    </footer>
</body>

</html>