<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/with-sidebar}">
<body>
    <!-- サイドバー -->
    <div layout:fragment="sidebar-content">
        <div th:replace="~{fragments/common/menu :: managementFragment}"></div>
    </div>

    <!-- 本体 -->
    <main layout:fragment="content">
        <div class="tab-area">
            <ul class="tab-menu">
                <li class="tab-menu-item is-active" data-tab="01">テスト</li>
            </ul>
            <div class="tab-panel is-show" data-panel="01">
                <div class="qualification-area">
                    <!-- ヘッダー -->
                    <header th:replace="~{fragments/construction/construction :: headerFragment()}"></header>
                    <!-- コンテンツ -->
                    <main th:replace="~{fragments/construction/construction :: mainFragment()}"></main>
                </div>
            </div>
        </div>
        <div id="form-dialog-area">
            <!-- フォーム画面をここに記入する -->
            <div id="form-dialog-01" class="form-dialog none">

            </div>
            <div id="form-fileviewer" class="form-dialog none">
                <div th:replace="~{fragments/file/fileviewer :: mainFragment}"></div>
            </div>
        </div>
        <div id="msg-dialog-area">
            <div th:replace="~{fragments/common/dialog :: messageFragment}"></div>
        </div>
        <script type="text/JavaScript" th:inline="JavaScript">
            const token = /*[[${_csrf.token}]]*/;
            const user = /*[[${user}]]*/;
            // const FILE_CONFIG = {
            //     listId: "file-list",
            //     selectUrl: "/api/files/construction",
            //     uploadUrl: "/api/files/file/upload/construction",
            //     renameUrl: "/api/files/group/rename",
            //     fileViewUrl: "/api/files/file/get/construction",
            //     groupUrl: "/api/files/group/list",
            //     parentType: "construction",
            //     parentId: "construction-id",
            //     groupId: "group-id",
            //     groupName: "group-name",
            //     csrfToken: token,
            // }
            const FILE_CONFIG = {

                /* API */
                selectUrl: "/api/files/select/construction",
                uploadUrl: "/api/files/upload/construction",
                fileViewUrl: "/api/files/file/get/construction",
                deleteUrl: "/api/files/file/delete",
                renameFileUrl: "/api/files/file/rename",
                renameGroupUrl: "/api/files/group/rename",

                /* 親ID */
                parentValue: () =>
                    document.getElementById("construction-id")?.value,

                /* グループID */
                groupValue: () =>
                    document.getElementById("group-id")?.value,

                /* 表示 */
                viewType: "list",
                grouping: true,
                isAdmin: true,

                /* DOM */
                loadBtnId: "load-btn",
                fileInputId: "file-input",
                dropAreaId: "file-list",
                viewerFileNameId: "viewer-file-name",

                listId: "file-list",
                groupArea: "group-id",

                viewerId: "form-fileviewer",
                viewerBodyId: "viewer-body",
                prevBtnId: "viewer-prev",
                nextBtnId: "viewer-next",
                closeBtnId: "viewer-close"
            };
        </script>
        <script th:src="@{/js/construction/construction.js}"></script>
        <script th:src="@{/js/file/fileService.js}"></script>
        <script th:src="@{/js/file/fileList.js}"></script>
    </main>

</body>