<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/with-sidebar}">
<body>
    <!-- サイドバー -->
    <div layout:fragment="sidebar-content">
        <div th:replace="~{fragments/common/menu :: registFragment}"></div>
    </div>

    <!-- ボディ -->
    <main layout:fragment="content">
        <div class="tab-area">
            <ul class="tab-menu">
                <li class="tab-menu-item is-active" data-tab="01">社員</li>
                <li class="tab-menu-item" data-tab="02">アルバイト</li>
            </ul>
            <div class="tab-panel is-show" data-panel="01">
                <div class="table-area">
                    <!-- ヘッダー -->
                    <header th:replace="~{fragments/personnel/employee :: headerFragment('search-box-01')}"></header>
                    <!-- コンテンツ -->
                    <main th:replace="~{fragments/personnel/employee :: mainFragment('table-01', 'table-01-content')}"></main>
                    <!-- フッター -->
                    <footer id="footer-01" class="pc-style" th:insert="~{fragments/common/footer :: tableFooterFragment()}"></footer>
                </div>
            </div>
            <div class="tab-panel" data-panel="02">
                <div class="table-area">
                    <!-- ヘッダー -->
                    <header th:replace="~{fragments/personnel/employee :: headerFragment('search-box-02')}"></header>
                    <!-- コンテンツ -->
                    <main th:replace="~{fragments/personnel/employee :: mainFragment('table-02', 'table-02-content')}"></main>
                    <!-- フッター -->
                    <footer id="footer-02" class="pc-style" th:insert="~{fragments/common/footer :: tableFooterFragment()}"></footer>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <div id="form-dialog-area">
            <!-- フォーム画面をここに記入する -->
            <div id="form-dialog-01" class="form-dialog none">
                <div class="dialog-main">
                    <!-- ヘッダー -->
                    <div th:replace="~{fragments/common/header :: form-headerFragment('form-dialog-01', '')}"></div>
                    <!-- コンテンツ -->
                    <form th:replace="~{fragments/personnel/employee :: form01Fragment()}"></form>
                    <!-- フッター -->
                    <div th:replace="~{fragments/common/footer :: footerFragment('form-dialog-01', 'execSave()', '保存')}"></div>
                </div>
            </div>
        </div>
        <div id="msg-dialog-area">
            <div th:replace="~{fragments/common/dialog :: messageFragment}"></div>
        </div>
        <script type="text/JavaScript" th:inline="JavaScript">
            const token = /*[[${_csrf.token}]]*/;
            const user = /*[[${user}]]*/;
            const formEntity = /*[[${formEntity}]]*/;
            const ownCompanyId = /*[[${ownCompanyId}]]*/;
            const categoryCodes = /*[[${categoryCodes}]]*/;
            const officeComboList = /*[[${officeComboList}]]*/;
            const genderComboList = /*[[${genderComboList}]]*/;
            const bloodTypeComboList = /*[[${bloodTypeComboList}]]*/;
            let origin = /*[[${origin}]]*/; // 初期リスト記憶用
            let originEntity = {};
        </script>
        <script th:src="@{/js/personnel/config/employee.js}"></script>
        <script th:src="@{/js/personnel/employee.js}"></script>
    </main>

</body>