<th:block th:fragment="header01Fragment()">
    <form id="operation-search" class="page-input-header operation-search vehicle-search-header">
        <div class="vehicle-search-actions">
            <th:block th:replace="~{fragments/table/header :: searchBoxFragment('operation-keyword')}"></th:block>
            <th:block th:replace="~{fragments/table/header :: kebabBtnsFragment(${
                {
                    'add': opCanWrite ? 'operation-create' : null,
                    'delete': opCanWrite ? 'vehicle-delete' : null,
                    'download': 'vehicle-download',
                    'reload': 'vehicle-reload'
                }
            })}"></th:block>
        </div>
        <div class="vehicle-office-filter">
            <th:block th:replace="~{fragments/components/box :: selectBoxFragment(${
                {
                    'text': '営業所',
                    'id': 'vehicle-office',
                    'name': 'ownOfficeId'
                }
            })}"></th:block>
        </div>
    </form>
</th:block>
