@charset "UTF-8";

.tab-area {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow: hidden;
}

.table-area main {
    overflow: hidden;
}

.tab-panel {
    overflow: hidden;
    height: 100%;
}

.tab-panel header {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    column-gap: 2rem;
}

:is(.tab-panel[data-panel="01"]) header>.flex-area:first-child {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 1rem;
}

:is(.tab-panel[data-panel="01"]) .table-area {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin-top: 2rem;
    overflow: hidden;
    /* max-width: 90rem; */
}

.tab-panel[data-panel="01"] header>.flex-area:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    margin-bottom: 1rem;
    & >div:first-child {
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        column-gap: .3rem;
    }
    & >div:nth-child(2) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
    & >div:nth-child(3) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
    & >div:nth-child(4) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
}

#table-01 tr {
    grid-template-columns: 3rem 8rem 4rem 1fr 1fr 3rem 10rem 1fr;
}

#form-01.dialog-content {
    overflow: hidden;
    height: 100%;
}

#form-01 .normal-table .scroll-area {
    overflow: auto;
    height: 100%;
}

#form-01 .tab-panel .table-area {
    display: grid;
    grid-template-rows: auto auto 1fr;
    margin-top: 2rem;
    overflow: hidden;
}

.form-dialog>.dialog-main {
    min-width: 50rem;
    grid-template-rows: auto 40rem auto;
}

.tab-panel[data-panel="11"]>.flex-area {
    margin-top: .5rem;
}

.tab-panel[data-panel="11"] {
    margin-top: 2rem;
    max-width: 90rem;
    grid-template-rows: auto auto auto auto auto auto 1fr;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: auto minmax(10rem, auto) 10rem;
        width: 100%;
    }
    & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: auto auto 1fr;
    }
    & >.flex-area:nth-of-type(3) {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
    }
    & >.flex-area:nth-of-type(4) {
        display: grid;
        grid-template-columns: 8rem 1fr;
        width: 100%;
    }
    & >.flex-area:nth-of-type(5) {
        display: grid;
        grid-template-columns: 10rem 10rem 1fr;
        width: 100%;
    }
    & >.flex-area:nth-of-type(6) {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        & textarea {
            height: 7rem;
            overflow: auto;
            line-height: 1.5;
        }
    }
}

/* 



#table-12 tr {
    grid-template-columns: 10rem 10rem 1fr 4rem 3rem;
    height: 3rem;
}

#table-13 tr {
    grid-template-columns: 1fr 6rem 4rem 5rem 3rem;
    height: 3rem;
    & >td:nth-of-type(4) {
        margin-right: 2rem;
    }
}

#table-14 tr {
    grid-template-columns: 6rem 10rem 1fr 3rem;
    height: 3rem;
}





.tab-panel[data-panel="12"] {
    height: 100%;
    & >.table-area>.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    & >.table-area>.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr 5rem 5rem;
        width: 100%;
    }
}

.tab-panel[data-panel="13"] {
    width: 100%;
    height: 100%;
    & >.table-area>.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: 6rem 1fr 6rem 4rem 6rem;
        width: 100%;
    }
}

.tab-panel[data-panel="14"] {
    & >.table-area>.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: 5rem 12rem 1fr auto;
        width: 100%;
    }
} */
