@charset "UTF-8";

.tab-area {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow: hidden;
}

.tab-panel {
    overflow: hidden;
    height: 100%;
    max-width: 90rem;
}

.tab-panel header {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    column-gap: 2rem;
}

:is(.tab-panel[data-panel="01"], .tab-panel[data-panel="02"], .tab-panel[data-panel="03"], .tab-panel[data-panel="04"]) header>.flex-area:first-child {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 1rem;
}

:is(.tab-panel[data-panel="01"], .tab-panel[data-panel="02"], .tab-panel[data-panel="03"], .tab-panel[data-panel="04"]) header>.flex-area:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    margin-bottom: 1rem;
    & >div:first-child {
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        column-gap: .3rem;
    }
    & >div:nth-child(2) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
    & >div:nth-child(3) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
    & >div:nth-child(4) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
}

/******************************************************************************************************* table */

:is(.tab-panel[data-panel="01"], .tab-panel[data-panel="02"], .tab-panel[data-panel="03"], .tab-panel[data-panel="04"]) .table-area {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin-top: 2rem;
    overflow: auto;
}

#table-01 tr {
    grid-template-columns: 3rem 10rem 15rem 1fr 4rem 15rem 1fr;
}

#table-02 tr {
    grid-template-columns: 3rem 10rem 10rem 10rem 15rem 4rem 6rem 1fr;
}

#table-03 tr {
    grid-template-columns: 3rem 10rem 10rem 10rem 4rem 15rem 6rem 1fr;
}

#table-04 tr {
    grid-template-columns: 3rem 10rem 10rem 10rem 4rem 15rem 6rem 1fr;
}

#table-11 tr {
    grid-template-columns: 10rem 12rem 12rem 4rem 12rem 1fr 3rem;
}

#table-12 tr {
    grid-template-columns: 10rem 10rem 10rem 1fr 4rem 5rem 1fr 3rem;
}

#table-13 tr {
    grid-template-columns: 10rem 10rem 10rem 4rem 15rem 1fr 3rem;
}

#table-14 tr {
    grid-template-columns: 10rem 10rem 10rem 4rem 15rem 1fr 3rem;
}

/******************************************************************************************************* form */

:is(#form-01, #form-02, #form-03, #form-04).dialog-content {
    height: 100%;
    width: 80rem;
}

:is(#form-01, #form-02, #form-03, #form-04) .normal-table {
    height: 25rem;
    width: 100%;
}

:is(#form-01, #form-02, #form-03, #form-04) .normal-table .scroll-area {
    overflow: auto;
    min-height: 15rem;
}

:is(#form-01, #form-02, #form-03, #form-04) .table-area {
    display: grid;
    grid-template-rows: auto auto auto auto auto 1fr;
    overflow: hidden;
}

#form-dialog-01 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: 6rem 10rem auto auto 1fr ;
        width: 100%;
    }
    & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: 12rem 1fr 1fr 4rem 12rem;
    }
    & >.flex-area:nth-of-type(3) {
        display: grid;
        grid-template-columns: auto 15rem 1fr 6rem;
        width: 100%;
    }
}

#form-dialog-02 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: 6rem 10rem auto auto 1fr ;
        width: 100%;
    }
    & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: 12rem 1fr 1fr 4rem 12rem;
    }
    & >.flex-area:nth-of-type(3) {
        display: grid;
        grid-template-columns: 6rem 10rem 10rem 15rem 1fr 6rem;
        width: 100%;
    }
}

#form-dialog-03 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: 6rem 10rem auto auto 1fr ;
        width: 100%;
    }
    & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: 12rem 1fr 1fr 4rem 12rem;
    }
    & >.flex-area:nth-of-type(3) {
        display: grid;
        grid-template-columns: auto 15rem 1fr 6rem;
        width: 100%;
    }
}

#form-dialog-04 .table-area{
    width: 100%;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: 6rem 10rem auto auto 1fr ;
        width: 100%;
    }
    & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: 12rem 1fr 1fr 4rem 12rem;
    }
    & >.flex-area:nth-of-type(3) {
        display: grid;
        grid-template-columns: auto 15rem 1fr 6rem;
        width: 100%;
    }
}