@charset "UTF-8";

.tab-area {
    display: grid;
    grid-template-rows: auto 1fr;
}

.tab-panel header {
    display: grid;
    /* grid-template-columns: 1fr auto; */
    grid-template-columns: 1fr;
    /* width: 100%; */
    position: relative;
    column-gap: 2rem;
}

.tab-panel[data-panel="01"] header>.flex-area:first-child {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 1rem;
}

.tab-panel[data-panel="01"] header>.flex-area:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    margin-bottom: 1rem;
    & >div:first-child {
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        column-gap: .3rem;
    }
    & >div:nth-child(2) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
    & >div:nth-child(3) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
    & >div:nth-child(4) {
        margin-left: 2rem;
        & .normal-btn {
           min-width: 2rem;
           padding: .5rem;
        }
    }
}

#table-01 tr {
    grid-template-columns: 3rem 10rem 8rem 18rem 1fr;
    /* text-align: center; */
}

#table-12 tr {
    grid-template-columns: 10rem 10rem 1fr 4rem 3rem;
    height: 3rem;
    /* text-align: center; */
}

.tab-panel .table-area {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 2rem;
    overflow: hidden;
    max-width: 90rem;
}

.form-dialog>.dialog-main {
    min-width: 50rem;
    grid-template-rows: auto 40rem auto;
}

.tab-panel[data-panel="11"]>.flex-area,
.tab-panel[data-panel="12"]>.table-area>.flex-area {
    margin-top: .5rem;
}

.tab-panel[data-panel="11"] {
    margin-top: 2rem;
    max-width: 90rem;
    & >.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: auto minmax(10rem, auto) 10rem;
        width: 100%;
    }
    & >.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    & >.flex-area:nth-of-type(3) {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
    }
    & >.flex-area:nth-of-type(4) {
        display: grid;
        grid-template-columns: 8rem 1fr;
        width: 100%;
    }
    & >.flex-area:nth-of-type(5) {
        display: grid;
        grid-template-columns: 10rem auto auto 1fr;
        width: 100%;
    }
}

.tab-panel[data-panel="12"] {
    & >.table-area>.flex-area:nth-of-type(1) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    & >.table-area>.flex-area:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr 5rem 5rem;
        width: 100%;
    }
}
