@charset "UTF-8";

.tab-area {
    display: grid;
    grid-template-rows: auto 1fr;
}

.tab-panel header {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;
}

#table-01 tr {
    grid-template-columns: 3rem 10rem 8rem 18rem 1fr;
    /* text-align: center; */
}

.tab-panel .table-area {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-top: 2rem;
    overflow: hidden;
    max-width: 90rem;
}

#form-dialog-01 {
    & .dialog-content {
        & >.flex-area:nth-of-type(1) {
            display: grid;
            grid-template-columns: auto minmax(15rem, auto);
            width: 100%;
        }
        /* & >.flex-area:nth-of-type(2) {
            display: grid;
            grid-template-columns: minmax(15rem, auto) 1fr;
            width: 100%;
        } */
        & >.flex-area:nth-of-type(2) {
            display: grid;
            grid-template-columns: auto 20rem;
        }
        & >.flex-area:nth-of-type(3) {
            display: grid;
            grid-template-columns: auto;
            width: 100%;
        }
        & >.flex-area:nth-of-type(4) {
            display: grid;
            grid-template-columns: 8rem 1fr;
            width: 100%;
        }
        & >.flex-area:nth-of-type(5) {
            display: grid;
            grid-template-columns: auto auto 1fr;
            width: 100%;
        }
    }
    .form-dialog>.dialog-main {
        min-width: 40rem;
    }
}
