<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- タブ01 ---------------------------------------------------------------------------------------------------------------------->

    <header class="flex-area pc-style" th:fragment="header01Fragment(box, code, name, filter)">
        <!-- 検索ボックス -->
        <div class="search-box">
            <input th:id="${box}" type="search" placeholder="検索">
            <img title="検索" src="/icons/search.png" onclick="execFilterDisplay(this)">
        </div>
        <div class="form-parts">
            <label>ID</label>
            <input th:id="${code}" name="code" class="normal-input" type="text" value="">
        </div>
        <div class="form-parts">
            <label>会社名</label>
            <select th:id="${name}" name="company" class="normal-select"></select>
        </div>
        <div class="form-parts">
            <label>許認可</label>
            <select th:id="${filter}" class="normal-select"></select>
        </div>
        <div class="kebab-btns">
            <!-- ダウンロードボタン -->
            <div class="img-btn" onclick="execDownloadCsv(this)">
                <img title="ダウンロード" src="/icons/download.png">
                <span>取得</span>
            </div>
            <!-- 更新ボタン -->
            <div class="img-btn" onclick="execUpdate(this)">
                <img title="更新" src="/icons/update.png">
                <span>更新</span>
            </div>
        </div>
    </header>
    <main class="table-wrapper"th:fragment="main01Fragment()">
        <table id="table-01" class="normal-table">
            <tr id="row-0" name="table-header" class="pc-style">
                <th name="chk-cell"><input name="all-chk-btn" class="normal-chk" type="checkbox" onclick="clickAllCheckBtn(this)"></th>
                <th><span>ID<span class="sort-arrow"></span></span></th>
                <th><span>所有者<span class="sort-arrow"></span></span></th>
                <th><span>許認可<span class="sort-arrow"></span></span></th>
                <th><span>取得<span class="sort-arrow"></span></span></th>
                <th><span>有効期限<span class="sort-arrow"></span></span></th>
                <th><span>ステータス<span class="sort-arrow"></span></span></th>
            </tr>
            <tbody id="table-01-content" class="scroll-area"></tbody>
        </table>
        <button type="button" class="page-top"></button>
    </main>

    <footer th:fragment="footerFragment()" th:remove="tag">
        <span>0件 : 0000/00/00 00:00 現在</span>
    </footer>

<!-- タブ02 ---------------------------------------------------------------------------------------------------------------------->

    <header id="code-area" class="flex-area pc-style" th:fragment="header02Fragment(box, code, name, filter)">
        <!-- 検索ボックス -->
        <div class="search-box">
            <input th:id="${box}" type="search" placeholder="検索">
            <img title="検索" src="/icons/search.png" onclick="execFilterDisplay(this)">
        </div>
        <div class="form-parts">
            <label>ID</label>
            <input tabindex="1" th:id="${code}" name="code" class="normal-input" type="text" value="">
        </div>
        <div class="form-parts">
            <label>担当者名</label>
            <input th:id="${name}" name="name" class="normal-input" type="text" value="" readonly>
        </div>
        <div class="form-parts">
            <label>資格</label>
            <select tabindex="2" th:id="${filter}" class="normal-select"></select>
        </div>
        <div class="kebab-btns">
            <!-- ダウンロードボタン -->
            <div class="img-btn" onclick="execDownloadCsv(this)">
                <img title="ダウンロード" src="/icons/download.png">
                <span>取得</span>
            </div>
            <!-- 更新ボタン -->
            <div class="img-btn" onclick="execUpdate(this)">
                <img title="更新" src="/icons/update.png">
                <span>更新</span>
            </div>
        </div>
    </header>
    <main class="table-wrapper"th:fragment="main02Fragment()">
        <table id="table-02" class="normal-table">
            <tr id="row-0" name="table-header" class="pc-style">
                <th name="chk-cell"><input name="all-chk-btn" class="normal-chk" type="checkbox" onclick="clickAllCheckBtn(this)"></th>
                <th><span>ID<span class="sort-arrow"></span></span></th>
                <th><span>所有者<span class="sort-arrow"></span></span></th>
                <th><span>資格<span class="sort-arrow"></span></span></th>
                <th><span>取得<span class="sort-arrow"></span></span></th>
                <th><span>有効期限<span class="sort-arrow"></span></span></th>
                <th><span>ステータス<span class="sort-arrow"></span></span></th>
            </tr>
            <tbody id="table-01-content" class="scroll-area"></tbody>
        </table>
        <button type="button" class="page-top"></button>
    </main>
</body>

</html>