<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- 本体 -->
    <div class="normal-content" th:fragment="bodyFragment">
        <!-- ハンバーガー -->
        <div th:replace="~{fragments/common/sidebar :: sidebarFragment}"></div>
        <!-- サイドバー -->
        <div class="normal-sidebar" th:insert="~{__${sidebarFragmentName}__}"></div>
        <!-- ボディ -->
        <div class="normal-body">
            <div class="table-area">
                <!-- ヘッダー -->
                <header
                    th:replace="~{fragments/recycle/maker:: header01Fragment('search-box-01')}">
                </header>
                <!-- コンテンツ -->
                <main
                    th:replace="~{fragments/recycle/maker :: main01Fragment('table-01', 'table-01-content')}">
                </main>
                <!-- フッター -->
                <footer id="footer-01" class="pc-style"
                    th:insert="~{fragments/recycle/maker :: footer01Fragment()}">
                </footer>
            </div>
        </div>
        <div id="form-dialog-area">
            <!-- フォーム画面をここに記入する -->
            <div id="form-dialog-01" class="form-dialog none">
                <div class="dialog-main">
                    <div th:replace="~{fragments/common/header :: form-headerFragment('form-dialog-01', '')}"></div>

                    <form th:replace="~{fragments/recycle/maker :: form01Fragment()}"></form>

                    <div th:replace="~{fragments/common/footer :: footerFragment('form-dialog-01', 'execCreate01(this)', '作成')}"></div>
                </div>
            </div>
        </div>
        <div id="msg-dialog-area">
            <div th:replace="~{fragments/common/dialog :: messageFragment}"></div>
        </div>
        <script type="text/JavaScript" th:inline="JavaScript">
            const token = /*[[${_csrf.token}]]*/;
            const user = /*[[${user}]]*/;
            const formEntity = /*[[${formEntity}]]*/;
            const otherCode = /*[[${otherCode}]]*/;
            const groupComboList = /*[[${groupComboList}]]*/;
            let origin = /*[[${origin}]]*/; // 初期リスト記憶用
            const SELECT_OPTIONS = {
                group: groupComboList
            };
        </script>
        <script th:src="@{/js/recycle/maker.js}"></script>
    </div>

</body>