<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/with-sidebar}">
<body>
    <!-- サイドバー -->
    <div layout:fragment="sidebar-content">
        <div th:replace="~{fragments/common/menu :: registFragment}"></div>
    </div>

    <!-- 本体 -->
    <main layout:fragment="content">
        <div class="tab-area">
            <ul class="tab-menu">
                <li class="tab-menu-item is-active" data-tab="01">荷主</li>
                <li class="tab-menu-item" data-tab="02">購買</li>
                <li class="tab-menu-item" data-tab="03">サービス</li>
                <li class="tab-menu-item" data-tab="04">運送</li>
                <li class="tab-menu-item" data-tab="05">支店</li>
                <li class="tab-menu-item" data-tab="06">スタッフ</li>
            </ul>
            <div class="tab-panel is-show" data-panel="01">
                <div class="table-area">
                    <!-- ヘッダー -->
                    <header th:replace="~{fragments/corporation/client :: headerFragment('search-box-01')}"></header>
                    <!-- コンテンツ -->
                    <main th:replace="~{fragments/corporation/client :: mainFragment('table-01', 'table-01-content')}"></main>
                    <!-- フッター -->
                    <footer id="footer-01" class="pc-style" th:insert="~{fragments/corporation/client :: footerFragment()}"></footer>
                </div>
            </div>
            <div class="tab-panel" data-panel="02">
                <div class="table-area">
                    <!-- ヘッダー -->
                    <header th:replace="~{fragments/corporation/client :: headerFragment('search-box-02')}"></header>
                    <!-- コンテンツ -->
                    <main th:replace="~{fragments/corporation/client :: mainFragment('table-02', 'table-02-content')}"></main>
                    <!-- フッター -->
                    <footer id="footer-02" class="pc-style" th:insert="~{fragments/corporation/client :: footerFragment()}"></footer>
                </div>
            </div>
            <div class="tab-panel" data-panel="03">
                <div class="table-area">
                    <!-- ヘッダー -->
                    <header th:replace="~{fragments/corporation/client :: headerFragment('search-box-03')}"></header>
                    <!-- コンテンツ -->
                    <main th:replace="~{fragments/corporation/client :: mainFragment('table-03', 'table-03-content')}"></main>
                    <!-- フッター -->
                    <footer id="footer-03" class="pc-style" th:insert="~{fragments/corporation/client :: footerFragment()}"></footer>
                </div>
            </div>
            <div class="tab-panel" data-panel="04">
                <div class="table-area">
                    <!-- ヘッダー -->
                    <header th:replace="~{fragments/corporation/client :: headerFragment('search-box-04')}"></header>
                    <!-- コンテンツ -->
                    <main th:replace="~{fragments/corporation/client :: mainFragment('table-04', 'table-04-content')}"></main>
                    <!-- フッター -->
                    <footer id="footer-04" class="pc-style" th:insert="~{fragments/corporation/client :: footerFragment()}"></footer>
                </div>
            </div>
            <div class="tab-panel" data-panel="05">
                <div class="table-area">
                    <!-- ヘッダー -->
                    <header th:replace="~{fragments/corporation/client :: headerOfficeFragment('code-box-51', 'name-box-51')}"></header>
                    <!-- コンテンツ -->
                    <main th:replace="~{fragments/corporation/client :: mainFragment('table-05', 'table-05-content')}"></main>
                    <!-- フッター -->
                    <footer id="footer-05" class="pc-style" th:insert="~{fragments/corporation/client :: footerFragment()}"></footer>
                </div>
            </div>
            <div class="tab-panel" data-panel="06">
                <div class="table-area">
                    <!-- ヘッダー -->
                    <header th:replace="~{fragments/corporation/client :: headerStaffFragment('code-box-61', 'name-box-61', 'name-box-62')}"></header>
                    <!-- コンテンツ -->
                    <main th:replace="~{fragments/corporation/client :: mainStaffFragment('table-06', 'table-06-content')}"></main>
                    <!-- フッター -->
                    <footer id="footer-06" class="pc-style" th:insert="~{fragments/corporation/client :: footerFragment()}"></footer>
                </div>
            </div>
        </div>
        <div id="form-dialog-area">
            <!-- フォーム画面をここに記入する -->
            <div id="form-dialog-01" class="form-dialog none">
                <div class="dialog-main">
                    <!-- ヘッダー -->
                    <div th:replace="~{fragments/common/header :: form-headerFragment('form-dialog-01', '')}"></div>
                    <!-- コンテンツ -->
                    <form th:replace="~{fragments/corporation/client :: form01Fragment()}"></form>
                    <!-- フッター -->
                    <div th:replace="~{fragments/common/footer :: footerFragment('form-dialog-01', 'execSave(this)', '保存')}"></div>
                </div>
            </div>
            <div id="form-dialog-02" class="form-dialog none">
                <div class="dialog-main">
                    <!-- ヘッダー -->
                    <div th:replace="~{fragments/common/header :: form-headerFragment('form-dialog-02', '')}"></div>
                    <!-- コンテンツ -->
                    <form th:replace="~{fragments/corporation/client :: form02Fragment()}"></form>
                    <!-- フッター -->
                    <div th:replace="~{fragments/common/footer :: footerFragment('form-dialog-02', 'execSave(this)', '保存')}"></div>
                </div>
            </div>
        </div>
        <div id="msg-dialog-area">
            <div th:replace="~{fragments/common/dialog :: messageFragment}"></div>
        </div>
        <script type="text/JavaScript" th:inline="JavaScript">
            const token = /*[[${_csrf.token}]]*/;
            const user = /*[[${user}]]*/;
            const companyEntity = /*[[${companyEntity}]]*/;
            const officeEntity = /*[[${officeEntity}]]*/;
            const staffEntity = /*[[${staffEntity}]]*/;
            const categoryShipperCode = /*[[${categoryShipperCode}]]*/;
            const categorySupplierCode = /*[[${categorySupplierCode}]]*/;
            const categoryServiceCode = /*[[${categoryServiceCode}]]*/;
            const categoryTransportCode = /*[[${categoryTransportCode}]]*/;
            let companyOrigin = /*[[${companyOrigin}]]*/; // 初期リスト記憶用
            let officeOrigin = /*[[${officeOrigin}]]*/; // 初期リスト記憶用
            let staffOrigin = /*[[${staffOrigin}]]*/; // 初期リスト記憶用
            let companyComboList = /*[[${companyComboList}]]*/;
        </script>
        <script th:src="@{/js/corporation/config/client.js}"></script>
        <script th:src="@{/js/corporation/client.js}"></script>
    </main>

</body>