<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- 標準メッセージ -->
    <div th:fragment="messageFragment" th:remove="tag">
        <div id="msg-dialog" class="msg-dialog none">
            <div class="dialog-main">
                <div class="dialog-header">
                    <span>確認</span>
                    <div name="closeBtn" class="img-btn">
                        <img title="閉じる" src="/icons/close-s.png">
                    </div>
                </div>
                <span class="msg-dialog-content"></span>
                <div class="dialog-footer">
                    <button id="okBtn" name="okBtn" class="normal-btn ok" type="hidden"></button>
                    <button id="cancelBtn" name="closeBtn" class="normal-btn" type="button"></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>