<div th:fragment="homeFragment" th:remove="tag">
    <div sec:authorize="!hasAuthority('APPROLE_office')" class="hamburger-item" data-path="/operations" data-target="layout"><img class="sp-style" th:src="@{/icons/sales.png}"><span>運行</span></div>
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item" data-path="/regist" data-target="layout">
        <img class="sp-style" th:src="@{/icons/regist.png}"><span>登録</span>
    </div>
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item" data-path="/business" data-target="layout">
        <img class="sp-style" th:src="@{/icons/person.png}"><span>業務</span>
    </div>
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item" data-path="/management" data-target="layout">
        <img class="sp-style" th:src="@{/icons/management.png}"><span>管理</span>
    </div>
</div>

<div th:fragment="registFragment" th:remove="tag">
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item sp-style" data-path="/" data-target="layout">
        <img th:src="@{/icons/home.png}"><span>ホーム</span>
    </div>
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item" data-path="/employee" >
        <img th:src="@{/icons/person.png}"><span>従業員</span>
    </div>
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item" data-path="/partner" >
        <img th:src="@{/icons/partner.png}"><span>パートナー</span>
    </div>
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item" data-path="/client">
        <img th:src="@{/icons/buillding.png}"><span>取引先</span>
    </div>
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item" data-path="/recyclemaker">
        <img th:src="@{/icons/recycle.png}"><span>製造業者</span>
    </div>
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item" data-path="/master">
        <img th:src="@{/icons/master.png}"><span>マスター</span>
    </div>
</div>

<div th:fragment="businessFragment" th:remove="tag">
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item sp-style" data-path="/" data-target="layout">
        <img th:src="@{/icons/home.png}"><span>ホーム</span>
    </div>
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item" data-path="/order" data-target="body">
        <img th:src="@{/icons/sales.png}"><span>受注</span>
    </div>
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item" data-path="/products" data-target="body">
        <img th:src="@{/icons/shopping.png}"><span>商品</span>
    </div>

    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item" data-path="/recycle" data-target="body">
        <img th:src="@{/icons/recycle_dust.png}"><span>リサイクル</span>
    </div>
</div>

<div th:fragment="managementFragment" th:remove="tag">
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item sp-style" data-path="/" data-target="layout">
        <img th:src="@{/icons/home.png}"><span>ホーム</span>
    </div>
    <div sec:authorize="!hasAnyAuthority('APPROLE_office')" class="hamburger-item" data-path="/timeworks" data-target="body">
        <img th:src="@{/icons/clock2.png}"><span>勤怠</span>
    </div>
    <div class="hamburger-item" data-path="/qualifications" data-target="body"><img th:src="@{/icons/person.png}"><span>資格管理</span></div>
    <div sec:authorize="hasAnyAuthority('APPROLE_admin','APPROLE_master')" class="hamburger-item" data-path="/labor" data-target="body"><img th:src="@{/icons/person.png}"><span>労務情報</span></div>
    <div sec:authorize="hasAnyAuthority('APPROLE_admin','APPROLE_master')" class="hamburger-item" data-path="/health-checks" data-target="body"><img th:src="@{/icons/person.png}"><span>健康診断</span></div>
</div>

<div th:fragment="operationsFragment" th:remove="tag">
    <div class="hamburger-item" data-path="/vehicles" data-target="body"><img th:src="@{/icons/sales.png}"><span>車両管理</span></div>
    <div class="hamburger-item" data-path="/vehicle-maintenance" data-target="body"><img th:src="@{/icons/sales.png}"><span>点検予定・実施履歴</span></div>
    <div class="hamburger-item" data-path="/daily-crews" data-target="body"><img th:src="@{/icons/sales.png}"><span>日別編成</span></div>
    <div class="hamburger-item" data-path="/dispatch" data-target="body"><img th:src="@{/icons/sales.png}"><span>配車</span></div>
    <div class="hamburger-item" data-path="/driving-records" data-target="body"><img th:src="@{/icons/sales.png}"><span>運転記録</span></div>
</div>
