@charset "UTF-8";

.hidden {
    display: none;
}

.viewer {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.viewer-header {
    height: 4rem;
    flex-shrink: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: rgba(0,0,0,0.7);
}
.viewer-info {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.nav-btn>img {
    width: 5rem;
}

#viewer-prev { left: 1rem; }
#viewer-next { right: 1rem; }
#viewer-close {
    font-size: 3rem;
    background: none;
    color: darkgrey;
    border: none;
    cursor: pointer;
}

#viewer-body img {
    max-width: 90vw;
    max-height: 80vh;
    object-fit: contain;
}

.nav-hidden {
    visibility: hidden;   /* 消えるけど位置は保持 */
    pointer-events: none; /* クリック無効 */
}

/* .viewer-image {
    max-width: 100%;
    max-height: 80vh;
} */
.viewer-image {
    max-width: 95%;
    max-height: 90%;
    object-fit: contain;
}

.viewer-pdf {
    width: 100%;
    height: 100%;
    border: none;
}
#file-viewer {
    position: fixed;
    display: flex;
    flex-direction: column;
}

#viewer-body {
    flex: 1;
    display: flex;              /* ← 追加 */
    justify-content: center;    /* 横中央 */
    align-items: center;        /* 縦中央 */
    overflow: hidden;
}