@charset "UTF-8";

/******************************************************************************************************* 入力エリア */

.flex-area {
    display: flex;
    align-items: center;
    column-gap: .3rem;
}

/* .flex-area.header {
    align-items: center;
} */

/* .flex-area label:has(input[type="checkbox"]) {
    display: flex;
    font-size: .9rem;
} */

/* .flex-area.date-move button {
    min-width: 3rem;
} */

/* .accordion .flex-area {
    margin-bottom: .5rem;
} */

.form-parts {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    align-items: center;
}

.form-parts label {
    font-size: .8rem;
    margin-bottom: .3rem;
    height: 1rem;
}

.form-parts>img {
    position: absolute;
    width: 1.5rem;
    top: 1.8rem;
    right: .5rem;
}

/******************************************************************************************************* 基本設定 tab */

.tab-area {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    height: 100%;
}

/* タブメニュー */
.tab-menu {
    display: flex;
    min-height: 3rem;
    /* メニュー切替時にタブがズレないように */
    padding: 0;
    margin: 0;
}

.tab-menu-item {
    list-style: none;
    padding: .5rem 2rem;
    /* メニューに高さを付ける */
    text-align: center;
    font-weight: bold;
    user-select: none;
    cursor: var(--cursor);
    transition: all .3s;
}

.tab-menu-item:last-of-type {
    margin-right: 0px;
}

/* is-activeがついている時のスタイル */
.tab-menu-item.is-active {
    border-bottom: 5px solid var(--br);
}

/* タブパネル */
.tab-panel {
    display: none;
}

/* is-showがついている時のスタイル */
.tab-panel.is-show {
    display: grid;
}

.tab-panel.is-show:has(.normal-table) {
    overflow: hidden;
}

/******************************************************************************************************* ドラッグ&ドロップ */

.upload-button {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: .3rem;
    /* font-size: 14px; */
    /* margin-bottom: 10px; */
}

#preview {
    margin-top: 20px;
    max-width: 100%;
    display: none;
}
