<th:block th:fragment="form01Fragment()">
    <div class="dialog-content" data-enterfocus="form-01">
        <!-- コード -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                { 
                    'text': 'JANコード',
                    'id':'janCode11',
                    'name': 'jan-code', 
                    'index': 1,
                    'skipIfNull':true
                }
            })}"></th:block>
        </div>
        <!-- 商品名 -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'商品名',
                    'id':'itemName11',
                    'name':'item-name',
                    'index': 2,
                    'skipIfNull':true
                }}
            )}"></th:block>    
        </div>
        <!-- メーカー -->
        <!-- 型番 -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'メーカー',
                    'id':'itemMaker11',
                    'name':'item-maker',
                    'index': 3,
                    'skipIfNull':true
                }}
            )}"></th:block>
        </div>
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'型番',
                    'id':'itemModel11',
                    'name':'item-model',
                    'index': 4,
                    'skipIfNull':true
                }}
            )}"></th:block>
        </div>
    </div>
</th:block>

<th:block th:fragment="form02Fragment()">
    <div class="dialog-content" data-enterfocus="form-02">
        <!-- 作業コード -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'作業コード',
                    'id':'orderWorkCode12',
                    'name':'order-work-code',
                    'index': 1,
                    'skipIfNull':true
                }}
            )}"></th:block>
        </div>
        <!-- 作業名 -->
        <!-- 金額 -->
        <div class="form-row" data-resolve="work">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'作業名',
                    'id':'orderWorkName12',
                    'name':'order-work-name',
                    'index': 2,
                    'skipIfNull':true
                }}
            )}"></th:block>
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'金額',
                    'id':'orderWorkPrice12',
                    'name':'order-work-price',
                    'index': 3,
                    'skipIfNull':true
                }}
            )}"></th:block>
        </div>
    </div>
</th:block>
