<th:block th:fragment="form01Fragment(formId)">
    <!-- <div class="dialog-content" data-enterfocus="form-01"> -->
    <div class="dialog-content">
        <!-- コード -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                { 
                    'text': 'JANコード',
                    'id':'janCode11',
                    'name': 'jan-code', 
                    'index': 1
                }
            })}"></th:block>
        </div>
        <!-- 型番 -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'型番',
                    'id':'itemModel11',
                    'name':'item-model',
                    'index': 2,
                    'required': '型番を入力してください。'
                }}
            )}"></th:block>
        </div>
        <!-- 商品名 -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'商品名',
                    'id':'itemName11',
                    'name':'item-name',
                    'index': 3
                }}
            )}"></th:block>    
        </div>
        <!-- メーカー -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'メーカー',
                    'id':'itemMaker11',
                    'name':'item-maker',
                    'index': 4
                }}
            )}"></th:block>
        </div>
    </div>
</th:block>

<th:block th:fragment="form02Fragment()">
    <div class="dialog-content">
        <!-- 作業コード -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'作業コード',
                    'id':'orderWorkCode12',
                    'name':'work-code',
                    'index': 1
                }}
            )}"></th:block>
        </div>
        <!-- 作業名 -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'作業名',
                    'id':'orderWorkName12',
                    'name':'work-name',
                    'index': 2,
                    'required': '作業名を入力してください。'
                }}
            )}"></th:block>
        </div>
        <!-- 金額 -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'金額',
                    'id':'orderWorkPrice12',
                    'name':'work-price',
                    'index': 3
                }}
            )}"></th:block>
        </div>
    </div>
</th:block>
