@charset "UTF-8";

.table-area {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-top: 2rem;
    overflow: auto;
    max-width: 65rem;
    height: 100%;
}

.table-area header {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    column-gap: 2rem;
}

.table-area header>.flex-area:first-child {
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin-bottom: 1rem;
    & .search-box {
        margin-right: 3rem;
    }
}

#table-01 tr {
    grid-template-columns: 3rem 6rem 8rem 1fr 8rem 1fr;
}

#table-01 tr td:nth-child(2),
#table-01 tr td:nth-child(5) {
    padding-right: 2rem;
}
