<th:block th:fragment="form01Fragment()">
    <div class="dialog-content" data-enterfocus="form-01">
        <!-- 名称 -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                { 
                    'text': 'お問合せ管理票番号', 
                    'name': 'recycle-number', 
                    'type': 'recycle', 
                    'index': 1
                }
            })}"></th:block>
        </div>
        <!-- 品目 -->
        <div class="form-row" data-resolve="item-code" data-enterfocus="code-area">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'コード',
                    'id':'item-code02',
                    'name':'item-code',
                    'resolveId':true,
                    'index':2
                }}
            )}"></th:block>
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'品目', 
                    'id':'item-name02', 
                    'name':'item-name',
                    'resolveName':true,
                    'disabled':true
                }}
            )}"></th:block>         
        </div>
        <!-- 製造業者等名 -->
        <div class="form-row" data-resolve="maker-code" data-enterfocus="code-area">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'コード',
                    'id':'maker-code02',
                    'name':'maker-code',
                    'resolveId':true,
                    'index':3
                }}
            )}"></th:block>
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'製造業者等名', 
                    'id':'maker-name02', 
                    'name':'maker-name',
                    'resolveName':true,
                    'disabled':true
                }}
            )}"></th:block>         
        </div>
        <!-- 日付 -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                { 
                    'text':'使用日',
                    'id':'use-date01',
                    'name':'use-date',
                    'type':'date',
                    'action':'date-arrow',
                    'index': 4
                }
            })}"></th:block>
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                { 
                    'text':'引渡日',
                    'id':'delivery-date01',
                    'name':'delivery-date',
                    'type':'date',
                    'action':'date-arrow',
                    'index': 5
                }
            })}"></th:block>
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                { 
                    'text':'発想日',
                    'id':'shipping-date01',
                    'name':'shipping-date',
                    'type':'date',
                    'action':'date-arrow',
                    'index': 6
                }
            })}"></th:block>
        </div>
        <!-- 会社名 -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: selectBoxFragment(${
                { 
                    'text': '小売業者', 
                    'combo': 'clientComboList',
                    'top': '-----',
                    'key': 'company-id',
                    'name': 'company-id', 
                    'resolveName':true,
                    'index': 7,
                    'zeroToNull': true
                }
            })}"></th:block>
        </div>
    </div>
</th:block>