<th:block th:fragment="header01Fragment()">
    <div id="header-01" class="flex-area pc-style">
        <div>
            <th:block th:replace="~{fragments/components/input :: dateRangeFragment(${
                {
                    'text':'使用日',
                    'fromId':'useDateFrom',
                    'fromName':'useDateFrom',
                    'toId':'useDateTo',
                    'toName':'useDateTo'
                }}
            )}"></th:block>
            <th:block th:replace="~{fragments/table/header :: kebabBtnsFragment(${
                {
                    'edit' : 'edit-btn-01',
                    'form' : 'form-01',
                    'delete' : 'delete-btn-01',
                    'download' : 'download-btn-01',
                    'reload' : 'reload-btn-01'
                }}
            )}"></th:block>
        </div>
    </div>
</th:block>