<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- 本体 -->
    <div class="normal-content" th:fragment="bodyFragment">
        <!-- ハンバーガー -->
        <div th:replace="~{fragments/common/sidebar :: sidebarFragment}"></div>
        <!-- サイドバー -->
        <div class="normal-sidebar" th:insert="~{__${sidebarFragmentName}__}"></div>
        <!-- ボディ -->
        <div class="normal-body">
            <div class="tab-area">
                <ul class="tab-menu">
                    <li class="tab-menu-item is-active" data-tab="01">作成・編集</li>
                    <!-- <li class="tab-menu-item" data-tab="02">入荷</li> -->
                    <!-- <li class="tab-menu-item" data-tab="03">請負</li> -->
                </ul>
                <div class="tab-panel is-show" data-panel="01">
                    <div class="table-area">
                        <!-- ヘッダー -->
                        <header th:replace="~{fragments/order/order :: headerFragment('search-box-01')}">
                        </header>
                        <!-- コンテンツ -->
                        <main th:replace="~{fragments/order/order :: main01Fragment('table-01', 'table-01-content')}">
                        </main>
                        <!-- フッター -->
                        <footer id="footer-01" class="pc-style"
                            th:insert="~{fragments/order/order :: footerFragment()}"></footer>
                    </div>
                </div>
            </div>
        </div>
        <div id="form-dialog-area">
            <!-- フォーム画面をここに記入する -->
            <div id="form-dialog-01" class="form-dialog none">
                <div class="dialog-main">
                    <div class="dialog-header"><span></span>
                        <div class="img-btn" onclick="closeFormDialog('form-dialog-01', event)"><img title="閉じる"
                                src="/icons/close-s.png"></div>
                    </div>
                    <form id="form-01" class="dialog-content">
                        <input name="order-id" type="hidden" value="">
                        <input name="version" type="hidden" value="">

                        <div class="tab-area">
                            <ul class="tab-menu">
                                <li class="tab-menu-item is-active" data-tab="11">情報</li>
                                <li class="tab-menu-item" data-tab="12">商品</li>
                                <li class="tab-menu-item" data-tab="13">作業</li>
                                <li class="tab-menu-item" data-tab="14">担当</li>
                            </ul>
                            <div class="tab-panel is-show" data-panel="11">
                                <div class="flex-area">
                                    <div class="form-parts">
                                        <label>元請</label>
                                        <select tabindex="1" name="prime-constractor" class="normal-select"></select>
                                    </div>
                                    <div class="form-parts">
                                        <label>元請支店</label>
                                        <select tabindex="2" name="prime-constractor-office"
                                            class="normal-select"></select>
                                    </div>
                                    <div class="form-parts">
                                        <label>営業担当</label>
                                        <select tabindex="3" name="prime-constractor-staff"
                                            class="normal-select"></select>
                                    </div>
                                </div>

                                <div class="flex-area">
                                    <!-- <div class="form-parts">
                                        <label>受注日</label>
                                        <input tabindex="4" name="order-date" class="normal-input" type="date" value=""
                                            onfocus="this.select();">
                                    </div> -->
                                    <div class="form-parts">
                                        <label>着工日</label>
                                        <input tabindex="4" name="start-date" class="normal-input" type="date" value=""
                                            onfocus="this.select();">
                                    </div>
                                    <div class="form-parts">
                                        <label>完工日</label>
                                        <input tabindex="5" name="end-date" class="normal-input" type="date" value=""
                                            onfocus="this.select();">
                                    </div>
                                    <div class="form-parts">
                                        <label>受注番号</label>
                                        <input tabindex="6" name="request-number" class="normal-input" type="text"
                                            value="" onfocus="this.select();">
                                    </div>
                                </div>

                                <div class="flex-area">
                                    <div class="form-parts">
                                        <label>件名</label>
                                        <input tabindex="7" name="title" class="normal-input" type="text" value=""
                                            onfocus="this.select();">
                                    </div>
                                </div>

                                <div class="flex-area">
                                    <div class="form-parts">
                                        <label>郵便番号</label>
                                        <input tabindex="8" id="order-postal-code" name="order-postal-code"
                                            class="normal-input" type="text" inputmode="numeric"
                                            pattern="\\d{3}-?\\d{4}" value="" placeholder="012-3456"
                                            onfocus="this.select();">
                                        <img title="検索" src="/icons/search.png"
                                            onclick="getAddress('Enter', 'order-postal-code', 'order-full-address')">
                                    </div>
                                    <div class="form-parts">
                                        <label>住所</label>
                                        <input tabindex="9" id="order-full-address" name="order-full-address"
                                            class="normal-input" type="text" value="" placeholder="例）大阪府高槻市柱本5丁目7番10号"
                                            onfocus="this.select();">
                                    </div>
                                </div>

                                <div class="flex-area">
                                    <div class="form-parts">
                                        <label>連絡先1</label>
                                        <input tabindex="10" id="contact-information" name="contact-information"
                                            class="normal-input" type="text" value="" placeholder="012-3456-7890"
                                            onfocus="this.select();">
                                    </div>
                                    <div class="form-parts">
                                        <label>連絡先2</label>
                                        <input tabindex="11" id="contact-information2" name="contact-information2"
                                            class="normal-input" type="text" value="" placeholder="012-3456-7890"
                                            onfocus="this.select();">
                                    </div>
                                    <!-- <div class="form-parts">
                                        <label>着工日</label>
                                        <input tabindex="10" name="start-date" class="normal-input" type="date" value=""
                                            onfocus="this.select();">
                                    </div>
                                    <div class="form-parts">
                                        <label>完工日</label>
                                        <input tabindex="11" name="end-date" class="normal-input" type="date" value=""
                                            onfocus="this.select();">
                                    </div> -->
                                </div>
                                <div class="flex-area">
                                    <div class="form-parts">
                                        <label>備考</label>
                                        <textarea class="normal-input" tabindex="12" maxlength="255" id="remarks" name="remarks" rows="3" onfocus="this.select();"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-panel" data-panel="12">
                                <div class="table-area">
                                    <div class="flex-area">
                                        <div class="form-parts">
                                            <label>メーカー</label>
                                            <input tabindex="21" id="maker12" name="item-maker" class="normal-input" type="text" autocomplete="on"
                                                value="" onfocus="this.select();">
                                        </div>
                                        <div class="form-parts">
                                            <label>品目</label>
                                            <input tabindex="22" id="name12" name="item-name" class="normal-input" type="text" autocomplete="on"
                                                value="" onfocus="this.select();">
                                        </div>
                                    </div>
                                    <div class="flex-area">
                                        <div class="form-parts">
                                            <label>型番</label>
                                            <input tabindex="23" id="model12" name="item-model" class="normal-input" type="text" autocomplete="on"
                                                value="" onfocus="this.select();">
                                        </div>
                                        <div class="form-parts">
                                            <label>数量</label>
                                            <input tabindex="24" id="quantity12" name="item-quantity" class="normal-input text-right"
                                                type="text" value="" onfocus="this.select();">
                                        </div>
                                        <div class="form-parts">
                                            <label></label>
                                            <button tabindex="25" class="normal-btn ok" type="button"
                                                onclick="execRegistItem(this)"><span>登録</span></button>
                                        </div>
                                    </div>
                                    <main
                                        th:replace="~{fragments/order/order :: tabPanel12Fragment('table-12', 'table-12-content')}">
                                    </main>
                                </div>
                            </div>
                            <div class="tab-panel" data-panel="13">
                                <div class="table-area">
                                    <div class="flex-area">
                                        <div class="form-parts">
                                            <label>コード</label>
                                            <input tabindex="31" id="code13" name="work-code" class="normal-input" type="text" value=""
                                                onfocus="this.select();">
                                        </div>
                                        <div class="form-parts">
                                            <label>作業内容</label>
                                            <input tabindex="32" id="cont13" name="work-content" class="normal-input" type="text" value="" autocomplete="on"
                                                onfocus="this.select();">
                                        </div>
                                        <div class="form-parts">
                                            <label>金額</label>
                                            <input tabindex="33" id="pay13" name="work-payment" class="normal-input" type="text" value=""
                                                onfocus="this.select();">
                                        </div>
                                        <div class="form-parts">
                                            <label>数量</label>
                                            <input tabindex="34" id="quan13" name="work-quantity" class="normal-input" type="text" value=""
                                                onfocus="this.select();">
                                        </div>
                                        <div class="form-parts">
                                            <label></label>
                                            <button tabindex="35" id="pay13" class="normal-btn ok" type="button"
                                                onclick="execRegistWork(this)"><span>登録</span></button>
                                        </div>
                                    </div>
                                    <main
                                        th:replace="~{fragments/order/order :: tabPanel13Fragment('table-13', 'table-13-content')}">
                                    </main>
                                </div>
                            </div>
                            <div class="tab-panel" data-panel="14">
                                <div class="table-area">
                                    <div class="flex-area">
                                        <div class="form-parts">
                                            <label>コード</label>
                                            <input tabindex="41" id="code14" name="code" class="normal-input" type="text" value=""
                                                onfocus="this.select();">
                                        </div>
                                        <div class="form-parts">
                                            <label>担当者名</label>
                                            <input readonly id="emp14" name="employee-name" class="normal-input" type="text"
                                                value="" onfocus="this.select();">
                                        </div>
                                        <div class="form-parts">
                                            <label>会社名</label>
                                            <input readonly id="com14" name="company-name" class="normal-input" type="text"
                                                value="" onfocus="this.select();">
                                        </div>
                                        <div class="form-parts">
                                            <label></label>
                                            <button tabindex="42" id="regist-btn14" class="normal-btn ok" type="button"
                                                onclick="execRegistStaff()"><span>登録</span></button>
                                        </div>
                                    </div>
                                    <main
                                        th:replace="~{fragments/order/order :: tabPanel14Fragment('table-14', 'table-14-content')}">
                                    </main>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="dialog-footer">
                        <button class="normal-btn frameless" type="button"
                            onclick="closeFormDialog('form-dialog-01', event)"><span>キャンセル</span></button>
                        <button tabindex="20" class="normal-btn ok" type="button"
                            onclick="execSave()"><span>保存</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="msg-dialog-area">
            <div th:replace="~{fragments/common/dialog :: messageFragment}"></div>
        </div>
        <script type="text/JavaScript" th:inline="JavaScript">
            const token = /*[[${_csrf.token}]]*/;
            const user = /*[[${user}]]*/;
            const formEntity = /*[[${formEntity}]]*/;
            const itemEntity = /*[[${itemEntity}]]*/;
            const staffEntity = /*[[${staffEntity}]]*/;
            const workEntity = /*[[${workEntity}]]*/;
            const primeConstractorComboList = /*[[${primeConstractorComboList}]]*/;
            const officeList = /*[[${officeList}]]*/;
            const salesStaffList = /*[[${salesStaffList}]]*/;
            const deleteCode = /*[[${deleteCode}]]*/;
            let origin = /*[[${origin}]]*/; // 初期リスト記憶用
            let itemList = [];
            let staffList = [];
            let workList = [];
            let itemId = 0;
            let staffId = 0;
            let workId = 0;
            const maker12 = document.getElementById('maker12');
            const name12 = document.getElementById('name12');
            const model12 = document.getElementById('model12');
            const quantity12 = document.getElementById('quantity12');
            const code13 = document.getElementById('code13');
            const cont13 = document.getElementById('cont13');
            const quan13 = document.getElementById('quan13');
            const pay13 = document.getElementById('pay13');
            const code14 = document.getElementById('code14');
            const emp14 = document.getElementById('emp14');
            const com14 = document.getElementById('com14');
        </script>
        <script th:src="@{/js/order/order.js}"></script>
    </div>
</body>