<main th:fragment="content"
      id="dispatch-page"
      class="normal-body"
      data-controller="dispatch"
      data-page="/js/pages/operations/dispatch/dispatchPage.js"
      data-css="/css/pages/operations/dispatch.css">
    <div class="dispatch-page">
        <header th:replace="~{fragments/pages/operations/dispatch/header :: header01Fragment()}"></header>
        <section class="dispatch-board">
            <!-- 左：車両・担当班 -->
            <section class="dispatch-crew-area">
                <header class="dispatch-board-header dispatch-crew-header">
                    <span>車両リスト</span>
                    <!-- <div class="img-btn" data-action="reinitialize-crews">
                        <img src="/icons/reload.png">
                    </div> -->
                    <button type="button" class="normal-btn frameless" data-action="reinitialize-crews">初期化</button>
                </header>
                <div id="dispatch-crew-list" class="dispatch-crew-list">
                    <div class="dispatch-empty">
                        日付・営業所・区分を選択してください
                    </div>
                </div>
            </section>
            <!-- 右：未配車伝票 -->
            <section class="dispatch-order-area">
                <header class="dispatch-board-header dispatch-order-header">
                    <span>伝票リスト</span>
                    <!-- <div class="img-btn" data-action="reset-assignments">
                        <img src="/icons/reload.png">
                    </div> -->
                    <button type="button" class="normal-btn frameless" data-action="reset-assignments">初期化</button>
                    <select id="dispatch-order-status" class="normal-select" data-action="change-order-status">
                        <option value="unassigned" selected>未配車</option>
                        <option value="assigned">配車済み</option>
                        <option value="all">すべて</option>
                    </select>
                </header>
                <div id="dispatch-order-list" class="dispatch-order-list"></div>
            </section>
        </section>
    </div>
    <div id="form-dialog-area">
        <form id="dispatch-member-form" class="form-dialog none">
            <div class="dialog-main">
                <header th:replace="~{fragments/dialog/header :: headerFragment(${ {'title': '乗務員編集'} })}"></header>
                <section th:replace="~{fragments/pages/operations/dispatch/form :: form01Fragment()}"></section>
                <footer th:replace="~{fragments/dialog/footer :: footerFragment(${ { 'footerId':'form-footer-01' } })}"></footer>
            </div>
        </form>
    </div>
</main>