<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/with-sidebar}">
<body>
    <!-- サイドバー -->
    <div layout:fragment="sidebar-content">
        <div th:replace="~{fragments/common/menu :: managementFragment}"></div>
    </div>

    <!-- ボディ -->
    <main layout:fragment="content">
        <div class="tab-area">
            <ul class="tab-menu">
                <li class="tab-menu-item is-active" data-tab="01">許認可</li>
                <li class="tab-menu-item" data-tab="02">資格</li>
                <li class="tab-menu-item" data-tab="03">PDF</li>
            </ul>
            <div class="tab-panel is-show" data-panel="01">
                <div class="table-area">
                    <!-- ヘッダー -->
                    <header th:replace="~{fragments/qualifications/qualifications :: header01Fragment('search-box-01', 'code01', 'name01', 'filter01')}"></header>
                    <!-- コンテンツ -->
                    <main th:replace="~{fragments/qualifications/qualifications :: main01Fragment()}"></main>
                    <!-- フッター -->
                    <footer id="footer-01" class="pc-style" th:insert="~{fragments/common/footer :: tableFooterFragment()}"></footer>
                </div>
            </div>
            <div class="tab-panel" data-panel="02">
                <div class="table-area">
                    <!-- ヘッダー -->
                    <header th:replace="~{fragments/qualifications/qualifications :: header02Fragment('search-box-02', 'code02', 'name02', 'filter02')}"></header>
                    <!-- コンテンツ -->
                    <main th:replace="~{fragments/qualifications/qualifications :: main02Fragment()}"></main>
                    <!-- フッター -->
                    <footer id="footer-02" class="pc-style" th:insert="~{fragments/common/footer :: tableFooterFragment()}"></footer>
                </div>
            </div>
            <div class="tab-panel" data-panel="03">
                <div class="table-area">
                    <!-- ヘッダー -->
                    <header th:replace="~{fragments/qualifications/qualifications :: header03Fragment('code03', 'name03', 'filter03', 'code04', 'name04', 'filter04')}"></header>
                    <!-- コンテンツ -->
                    <main th:replace="~{fragments/qualifications/qualifications :: main03Fragment()}"></main>
                    <!-- フッター -->
                    <footer id="footer-03" class="pc-style" th:insert="~{fragments/common/footer :: tableFooterFragment()}"></footer>
                </div>
            </div>
        </div>
        <div id="form-dialog-area">
            <!-- フォーム画面をここに記入する -->
            <div id="form-dialog-01" class="form-dialog none">
                <div class="dialog-main">
                    <!-- ヘッダー -->
                    <div th:replace="~{fragments/common/header :: form-headerFragment('form-dialog-01', '')}"></div>
                    <!-- コンテンツ -->
                    <form th:replace="~{fragments/qualifications/qualifications :: form01Fragment()}"></form>
                    <!-- フッター -->
                    <div th:replace="~{fragments/common/footer :: footerFragment('form-dialog-01', 'execSave()', '登録')}"></div>
                </div>
            </div>
            <div id="form-fileviewer" class="form-dialog none">
                <div th:replace="~{fragments/file/fileviewer :: mainFragment}"></div>
            </div>
        </div>
        <div id="msg-dialog-area">
            <div th:replace="~{fragments/common/dialog :: messageFragment}"></div>
        </div>
        <script type="text/JavaScript" th:inline="JavaScript">
            const token = /*[[${_csrf.token}]]*/;
            const user = /*[[${user}]]*/;
            const formEntity = /*[[${formEntity}]]*/;
            const companyComboList = /*[[${companyComboList}]]*/;
            const qualificationsComboList = /*[[${qualificationsComboList}]]*/;
            const licenseComboList = /*[[${licenseComboList}]]*/;
            let origin = [];
            let tempEntity = {};
        </script>
        <script th:src="@{/js/qualifications/config/qualifications.js}"></script>
        <script th:src="@{/js/qualifications/qualifications.js}"></script>
        <script th:src="@{/js/file/fileService.js}"></script>
        <script th:src="@{/js/file/fileList.js}"></script>
    </main>

</body>