<th:block th:fragment="form01Fragment()">
    <div class="dialog-content" data-enterfocus="form-01">
        <!-- 営業所 -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: selectBoxFragment(${
                {
                    'text': '営業所',
                    'combo': 'officeComboList',
                    'top': '-----',
                    'key': 'office-id',
                    'name': 'office-id',
                    'index': 1
                }
            })}"></th:block>
        </div>
        <!-- 車種・メーカー・型式 -->
        <div class="flex-area form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text': '車種',
                    'name': 'vehicle-name',
                    'placeholder': '例）ハイエース',
                    'index': 2
                }
            })}"></th:block>
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text': 'メーカー',
                    'name': 'manufacturer',
                    'placeholder': '例）トヨタ',
                    'index': 3
                }
            })}"></th:block>
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text': '型式',
                    'name': 'model-code',
                    'index': 4
                }
            })}"></th:block>
        </div>
        <!-- 車番 -->
        <div class="form-parts form-row">
            <label>車番</label>
            <div class="flex-area">
                <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                    {
                        'name': 'registration-area',
                        'placeholder': '大阪',
                        'index': 5
                    }
                })}"></th:block>
                <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                    {
                        'name': 'registration-class',
                        'placeholder': '100',
                        'index': 6
                    }
                })}"></th:block>
                <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                    {
                        'name': 'registration-kana',
                        'placeholder': 'あ',
                        'index': 7
                    }
                })}"></th:block>
                <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                    {
                        'name': 'registration-number',
                        'placeholder': '1234',
                        'index': 8
                    }
                })}"></th:block>
            </div>
        </div>

        <!-- 初年度登録 -->
        <div class="form-parts form-row">
            <label>初年度登録</label>
            <div class="flex-area">
                <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                    {
                        'name': 'first-registration-year',
                        'placeholder': '2024',
                        'inputmode': 'numeric',
                        'index': 9
                    }
                })}"></th:block>
                <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                    {
                        'name': 'first-registration-month',
                        'placeholder': '1',
                        'inputmode': 'numeric',
                        'index': 10
                    }
                })}"></th:block>
            </div>
        </div>
        <!-- 車検期限・ミッション -->
        <div class="flex-area form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text': '車検期限',
                    'name': 'inspection-expiration-date',
                    'type': 'date',
                    'index': 11
                }
            })}"></th:block>
            <th:block th:replace="~{fragments/components/box :: selectBoxFragment(${
                {
                    'text': 'ミッション',
                    'name': 'transmission',
                    'combo': 'transmissionComboList',
                    'index': 12
                }
            })}"></th:block>
        </div>
        <!-- タイヤ -->
        <div class="flex-area form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text': '前輪タイヤ',
                    'name': 'front-tire-size',
                    'placeholder': '例）195/80R15',
                    'index': 13
                }
            })}"></th:block>
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text': '後輪タイヤ',
                    'name': 'rear-tire-size',
                    'placeholder': '例）195/80R15',
                    'index': 14
                }
            })}"></th:block>
        </div>
        <!-- 車高・最大積載量 -->
        <div class="flex-area form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text': '車高(mm)',
                    'name': 'vehicle-height',
                    'inputmode': 'numeric',
                    'index': 15
                }
            })}"></th:block>
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text': '最大積載量(kg)',
                    'name': 'maximum-load',
                    'inputmode': 'numeric',
                    'index': 16
                }
            })}"></th:block>
        </div>
        <!-- 備考 -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text': '備考',
                    'name': 'remarks',
                    'index': 17
                }
            })}"></th:block>
        </div>
    </div>
</th:block>

<th:block th:fragment="dispatchSettingFragment()">
    <div class="dialog-content" data-enterfocus="dispatch-setting-dialog">
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'車両名',
                    'id':'dispatch-setting-vehicle-name',
                    'name':'vehicle-name',
                    'readonly':true
                }
            })}"></th:block>
            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'車番',
                    'id':'dispatch-setting-plate-number',
                    'name':'plate-number',
                    'readonly':true
                }
            })}"></th:block>
        </div>
        <!-- 車両の基本配車区分 -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: selectBoxFragment(${
                {
                    'text':'基本配車区分',
                    'id':'dispatch-setting-category',
                    'name':'dispatch-category',
                    'combo':'dispatchCategoryComboList',
                    'index':1
                }
            })}"></th:block>
        </div>

        <!-- 基本乗務員の対象区分 -->
        <div class="form-row">
            <th:block th:replace="~{fragments/components/box :: selectBoxFragment(${
                {
                    'text':'基本乗務員の対象区分',
                    'id':'dispatch-member-category',
                    'name':'member-dispatch-category',
                    'combo':'dispatchCategoryComboList',
                    'index':2
                }
            })}"></th:block>
        </div>

        <!-- 担当者 -->
        <div
            class="flex-area form-row"
            data-resolve="query"
            data-query-id="employeeResolve"
            data-param-builder="employeeParams"
            data-result-first="true"
            data-name-key="fullName"
            data-value-key="employeeId">

            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'社員ID / コード',
                    'id':'dispatch-member-code',
                    'name':'employee-code',
                    'resolveId':true,
                    'index':3
                }
            })}"></th:block>

            <input
                type="hidden"
                id="dispatch-member-employee-id"
                name="employee-id"
                data-role="hidden-id">

            <th:block th:replace="~{fragments/components/box :: inputBoxFragment(${
                {
                    'text':'社員名',
                    'id':'dispatch-member-name',
                    'name':'employee-name',
                    'resolveName':true,
                    'readonly':true,
                    'index':4
                }
            })}"></th:block>

            <div class="form-row">
                <th:block th:replace="~{fragments/components/box :: selectBoxFragment(${
                    {
                        'text':'役割',
                        'id':'dispatch-member-role',
                        'name':'role',
                        'combo':'crewRoleComboList',
                        'top':'-----',
                        'index':5
                    }
                })}"></th:block>
            </div>

            <div class="form-row">
                <button
                    type="button"
                    id="dispatch-member-add-btn">
                    追加
                </button>
            </div>
        </div>

        <div
            id="vehicle-default-member-area"
            class="form-row">
        </div>

    </div>
</th:block>