<th:block th:fragment="header01Fragment()">
    <div id="header-01" class="flex-area page-input-header">
        <div>
            <th:block th:replace="~{fragments/table/header :: searchBoxFragment('search-box-01')}"></th:block>
            <th:block th:replace="~{fragments/table/header :: kebabBtnsFragment(${
                {
                    'add': 'add-btn-01',
                    'form': 'form-01',
                    'delete': 'delete-btn-01',
                    'download': 'download-btn-01',
                    'reload': 'reload-btn-01'
                }}
            )}"></th:block>
            <div class="kebab-btns" data-area="kebabBtns">
                <div class="img-btn" id="dispatch-setting-btn" data-action="open-dispatch-setting">
                    <img src="/icons/add.png">
                    <span>配車設定</span>
                </div>
            </div>
        </div>

        <div class="flex-area">
            <th:block th:replace="~{fragments/components/box :: selectBoxFragment(${ 
                {
                    'text':'営業所',
                    'id':'office01',
                    'name':'office01',
                    'action':'filter',
                    'combo':'officeComboList',
                    'top':'-----',
                    'key':'office-id'
                }}
            )}"></th:block>
        </div>
    </div>
</th:block>