@charset "UTF-8";

/******************************************************************************************************* 基本のインプット */

.normal-input {
    width: 100%;
    height: 2.5rem;
    border-radius: .3rem;
    border: 1px solid var(--br);
    /* padding: 0 .8rem; */
    padding: .5rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.normal-input.frameless {
    border: 0;
    background-color: var(--white);
}

/******************************************************************************************************* 特定のインプット */

.normal-input.recycle-number {
    width: 12rem;
}
.normal-input.date-area {
    width: 10rem;
    font-size: 14px;
}

/******************************************************************************************************* チェックボックス */

input.normal-chk[type="checkbox"] {
    position: relative;
    width: 1.4rem;
    height: 1.4rem;
    border: 1px solid var(--br);
    background-color: var(--white);
    border-radius: 50%;
    -webkit-appearance: none;
    appearance: none;
}

input.normal-chk[type="checkbox"]:checked {
    background-color: var(--chk-bg);
    border: 0;
}

input.normal-chk[type="checkbox"]:checked:before {
    position: absolute;
    top: 15%;
    left: 20%;
    transform: rotate(-45deg);
    width: 40%;
    height: 30%;
    border-left: 3px solid var(--white);
    border-bottom: 3px solid var(--white);
    content: '';
}

/******************************************************************************************************* 検索ボックス */

.search-box {
    position: relative;

}
.search-box>input {
    border: 2px solid var(--br);
    width: 100%;
    border-radius: 1.5rem;
    padding: 0 1rem 0 3.5rem;
    height: 3rem;
}

.search-box>input[type="search"]:focus {
    outline: none;
    border: 2px solid var(--theme-blue);
}

.search-box img {
    position: absolute;
    top: .7rem;
    left: .8rem;
    width: 1.5rem;
}

/******************************************************************************************************* 基本のセレクトボックス */

select.normal-select {
    appearance: none;
    /* width: 100%; */
    width: auto;
    height: 2.5rem;
    border-radius: .3rem;
    border: 1px solid var(--br);
    padding: 0 2rem 0 .8rem;
    background-image: url('/icons/down.png');
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: .8rem .8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/******************************************************************************************************* 基本のテキストエリアボックス */

textarea {
    width: 100%;
    padding: 1rem;
    resize: none;
    font-size: 16px;
}

/******************************************************************************************************* 日付ボックス */

input[type="date"],
input[type="time"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 2.5rem;
}
input[type="date"]::-webkit-date-and-time-value,
input[type="time"]::-webkit-date-and-time-value {
    text-align: left;
}

.icon-del::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
